<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>智能一卡通平台|账户业务中心</title>
 #parse("/common/header-meta-link.vm")
 <script type="text/javascript">
if('$!operatorSession.TableSize'){
var TableSize = '$!operatorSession.TableSize';
}else{
 top.location='login.html';
}
</script>
</head>
<body>
<div class="container-fluid">
  <p class="nav-bread navbar-fixed-top">
    <a onClick="goIndex()" style="cursor:pointer;">首页</a>
    /
    <a href="zhywright.html">账户业务中心</a>
    /<span>菜品导入</span>
  </p>
  <div>
    	<form class="form-horizontal form_bumen" id="daoruForm" enctype="multipart/form-data">
    		<div class="row">
	    		<div class="col-sm-12 border1 text-right">
	    			<a id="submitBtn" class="btn btn-link add_zd">菜品导入</a>
		    		<a  class="btn btn-link add_zd" href="./excel/menusFile.xlsx">菜品模板下载</a>
	    		</div>
	    	</div>
    		<input style="margin-top:20px;margin-left:15px;" type="file" name="fileExcel" id="uploadFile" onClick="clearFile()" onChange="initData(this)">
    	</form>
    <hr class="w98">
	<div id="loading" style="width:40px; height:-5px; position:absolute; z-index:4; left:400px;text-algin:center;top:30%;display:none"><img src="./images/lodding.gif"/></div>
	<div style="margin-top:20px;padding:0 15px 15px;">
	<table id="excelInfo" class="easyui-datagrid"  style="height:500px">
	</table>
  </div>
  </div>
</div>

<div class="modal fade" id="myXiazai">
    <div class="modal-dialog">
        <div class="modal-content"> 
            <div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal"> 
    				<span aria-hidden="true">&times;</span>
    				<span class="sr-only">Close</span>
    			</button>
    			<h4 class="modal-title">导入成功</h4>
			</div>
		</div>
    </div>
</div>
<script src="js/xfglxt/importMenus.js"></script>
</body>
</html>