<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>智能一卡通平台|消费管理系统</title>
 #parse("/common/header-meta-link.vm")
 <script type="text/javascript">
if('$!operatorSession.TableSize'){
var TableSize = '$!operatorSession.TableSize';
}else{
 top.location='login.html';
}
</script>
</head>
<body>
<div class="container-fluid">
  <p class="nav-bread navbar-fixed-top">
    <a onClick="goIndex()" style="cursor:pointer;">首页</a>
    /
    <a href="xfglright.html">消费管理系统</a>
    /<span>商户菜单管理</span>
  </p>
  <div class="row"><div class="col-sm-12 border1 text-right">
      <button type="button" class="btn btn-link" id="select">查询</button>
	  <button type="button" class="btn btn-link" id="insert">添加</button>
	  <button type="button" class="btn btn-link" id="update">修改</button>
	  <button type="button" class="btn btn-link" id="delete">删除</button>
    </div></div>
  <div class="row" style="margin-top:20px;">
    <div class="col-sm-3">
      <label>菜单编号：</label>
      <input type="text" class="form-control" id="sFMenuTypeId" name="FMenuTypeId"  onblur="value=value.replace(/[^\.\w\u4E00-\u9FA5]/g, '')" >
    </div>
    <div class="col-sm-3">
      <label>菜单名称：</label>
      <input type="text" class="form-control" id="sFMenuTypeName" name="FMenuTypeName"  onblur="value=value.replace(/[^\.\w\u4E00-\u9FA5]/g, '')" >
    </div>
    <div class="col-sm-3" id="sRemarkDiv">
      <label id="sRemarkLabel">备注：</label>
      <input type="text" class="form-control" id="sFRemark" name="FRemark"  onblur="value=value.replace(/[^\.\w\u4E00-\u9FA5]/g, '')" >
    </div>
  </div>
  <hr class="w98">
  <div class="container-fluid" style="margin-top:5px;padding:0 15px 15px;">
	<table id="table" class="easyui-datagrid"  style="height:450px">
	</table>
  </div>
</div>

<!--添加弹出框-->
<div class="modal fade" id="insertDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">添加菜单</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="insertForm">
    				<div class="form-group">
						<label class="col-sm-3 control-label">*菜单类型编号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iFMenuTypeId" name="FMenuTypeId" >
						</div>
					</div>
    				<div class="form-group">
						<label class="col-sm-3 control-label">*菜单类型名称：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iFMenuTypeName" name="FMenuTypeName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*所属商户：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iFMerchantInnerId" name="FMerchantInnerId" style="width:250px;height:30px">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*启用标识：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iFEnableFlag" name="FEnableFlag" style="width:250px;height:30px">
						</div>
					</div>
					<div class="form-group" id="iRemarkDiv">
						<label class="col-sm-3 control-label" id="iRemarkLabel">备注：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iFRemark" name="FRemark">
						</div>
				    </div>
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary" id="insertSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->
	
<!--修改弹出框-->
<div class="modal fade" id="updateDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">修改菜单</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="updateForm">
    				<div class="form-group">
						<label class="col-sm-3 control-label">*菜单类型名称：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uFMenuTypeName" name="FMenuTypeName" >
							<input type="hidden" class="form-control inp" id="uFMenuTypeInnerId" name="FMenuTypeInnerId">
						</div>
					</div>
    				<div class="form-group">
						<label class="col-sm-3 control-label">*菜单类型编号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uFMenuTypeId" name="FMenuTypeId">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*所属商户：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uFMerchantInnerId" name="FMerchantInnerId" style="width:250px;height:30px" readonly="readonly">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*启用标识：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uFEnableFlag" name="FEnableFlag" style="width:250px;height:30px">
						</div>
					</div>
					<div class="form-group" id="iRemarkDiv">
						<label class="col-sm-3 control-label" id="iRemarkLabel">备注：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uFRemark" name="FRemark" >
						</div>
				    </div>
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary" id="updateSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->

<script src="js/xfglxt/merchantMenuType.js"></script>
</body>
</html>
