<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>智能一卡通平台|消费管理系统</title>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/content.css" rel="stylesheet">
		<!--[if lt IE 9]>
        <script src="bootstrap/js/html5shiv.js"></script>
		<script src="bootstrap/js/respond.min.js"></script>
        <![endif]-->
	    <script src="jquery/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			function goIndex(){
				top.location.href="index.html";
			}
		</script>
	</head>
	
	<body>
		<div class="container-fluid">
			<p class="nav-bread"><a onClick="goIndex()" style="cursor:pointer;">首页</a> /
				<span>消费管理系统</span></p>
			<div style="background-image:url(images/new/xfglxt/xfglxt.png);width:1100px; height:500px; ">
				<div style="padding-top:200px;padding-left:150px">
					<span style="font-size:20px">
						消费管理系统：<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:balck">消费应用子系统是智能一卡通管理平台的根本，是管理商户和消费的根本所在。主要功能包括：商户管理、商户优惠、商户菜单、商户菜品、消费类型、消费设备、消费记录和消费统计<br/></span>
					</span>
				</div>
			</div>
		</div>
	</body>
</html>
