<!DOCTYPE html>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>企业综合性网络服务平台|登录</title>
        <link rel="shortcut icon" href="#springUrl('/images/id.ico')" />
    </head>
	<body id="body">
    	<div class="container-fluid">
			服务发生异常，请联系张工，电话：18614005386。或发异常信息文件至邮箱：1171298788@qq.com
    	</div>
    </body>
</html>