<!-- BEGIN SIDEBAR -->
<div class="page-sidebar nav-collapse collapse">
	<!-- BEGIN SIDEBAR MENU -->        
	<ul class="page-sidebar-menu">
		<li>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<div class="sidebar-toggler hidden-phone"></div>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		</li>
		<li>
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<form class="sidebar-search">
				<div class="input-box">
					<a href="javascript:;" class="remove"></a>
					<input type="text" placeholder="Search..." />
					<input type="button" class="submit" value=" " />
				</div>
			</form>
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
		</li>

	     <li id="abody" class="active start"></li>
	  <div id="df" style="display:none">
	     <input id="fflag"  type="text" value="$sbcSession.fflag">
	     <input id="sflag"  type="text" value="$sbcSession.sflag">
	     <input id="tflag"  type="text" value="$sbcSession.tflag">
	 </div>
	 <div id="load" style="margin-top:50%;margin-left:35%">
     <img src="img/21.gif">
     </div>
</div>