<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>智能一卡通平台|停车管理系统</title>
 #parse("/common/header-meta-link.vm")
 <style type="text/css">
 .row label{width:70px;}
 </style>
 <script type="text/javascript">
if('$!operatorSession.TableSize'){
var TableSize = '$!operatorSession.TableSize';
}else{
 top.location='login.html';
}
</script>
</head>
<body>
<div class="container-fluid">
  <p class="nav-bread navbar-fixed-top">
    <a onClick="goIndex()" style="cursor:pointer;">首页</a>
    /
    <a href="tccright.html">停车管理系统</a>
    /<span>车辆信息管理</span>
  </p>
  <div class="row"><div class="col-sm-12 border1 text-right">
      <button type="button" class="btn btn-link" id="select">查询</button>
	  <button type="button" class="btn btn-link" id="insert">添加车辆</button>
	  <button type="button" class="btn btn-link" id="update">修改车辆</button>
	  <button type="button" class="btn btn-link" id="updateTime">修改时间</button>
      <button type="button" class="btn btn-link" id="export">导出</button>
    </div></div>
  <div class="row" style="margin-top:20px;">
    <div class="col-sm-3">
      <label>部门选择：</label>
      <input type="text" class="form-control" id="sDepartmentInnerId" name="DepartmentInnerId" style="height:30px">
    </div>
    <div class="col-sm-3">
      <label>人员编号：</label>
      <input type="text" class="form-control" id="sUserId" name="UserId" style="height:30px">
    </div>
    <div class="col-sm-3">
      <label>人员姓名：</label>
      <input type="text" class="form-control" id="sUserName" name="UserName" style="height:30px">
    </div>
    <div class="col-sm-3">
      <label>车牌号：</label>
      <input type="text" class="form-control" id="sCarNumber" name="CarNumber" style="height:30px">
    </div>
    <div class="col-sm-3">
      <label>车辆类型：</label>
      <input type="text" class="form-control" id="sCarType" name="CarType" style="height:30px">
    </div>
  </div>
  <hr class="w98">
  <div class="container-fluid" style="margin-top:5px;padding:0 15px 15px;">
	<table id="table" class="easyui-datagrid" style="height:600px">
	</table>
  </div>
</div>

<div class="modal fade" id="insertDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">添加车辆信息</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="insertForm">
    				<div class="form-group">
						<label class="col-sm-3 control-label">*人员编号：</label>
						<div class="col-sm-9">
							<input type="hidden" class="form-control inp" id="iUserInnerId" name="UserInnerId" >
							<input type="text" class="form-control inp" id="iUserId" name="UserId" readonly="readonly" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*人员名称：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iUserName" name="UserName" readonly="readonly">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*部门名称：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iDepartmentName" name="DepartmentName" readonly="readonly">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*车辆类型：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iCarTypeInnerId" name="CarTypeInnerId" style="width:250px;height:30px">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*车牌号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iCarNumber" name="CarNumber">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*开始时间：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iStartTime" name="StartTime">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*结束时间：</label>
						<div class="col-sm-9">
							<input class="form-control inp" id="iEndTime" name="EndTime">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*停车场：</label>
						<div class="col-sm-9">
							<input class="form-control inp" id="iPark" name="Park" style="width:250px;height:30px;">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*车位数：</label>
						<div class="col-sm-9">
							<input class="form-control inp" id="iParkingNum" name="ParkingNum">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">备用车牌1：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iCarNumber1" name="CarNumber1">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">备用车牌2：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iCarNumber2" name="CarNumber2">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">备用车牌3：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iCarNumber3" name="CarNumber3">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">备用车牌4：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iCarNumber4" name="CarNumber4">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary" id="insertSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->

	
<!--修改弹出框-->
<div class="modal fade" id="updateDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">修改车辆信息</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="updateForm">
    				<div class="form-group">
						<label class="col-sm-3 control-label">*人员编号：</label>
						<div class="col-sm-9">
							<input type="hidden" class="form-control inp" id="uCarInfoInnerId" name="CarInfoInnerId" >
							<input type="text" class="form-control inp" id="uUserId" name="UserId" readonly="readonly" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*人员名称：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uUserName" name="UserName" readonly="readonly">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*部门名称：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uDepartmentName" name="DepartmentName" readonly="readonly">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*车辆类型：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uCarTypeInnerId" name="CarTypeInnerId" style="width:250px;height:30px">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*车牌号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uCarNumber" name="CarNumber">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*开始时间：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uStartTime" name="StartTime">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*结束时间：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uEndTime" name="EndTime">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*停车场：</label>
						<div class="col-sm-9">
							<input class="form-control inp" id="uPark" name="Park" style="width:250px;height:30px;">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*车位数：</label>
						<div class="col-sm-9">
							<input class="form-control inp" id="uParkingNum" name="ParkingNum">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">备用车牌1：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uCarNumber1" name="CarNumber1">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">备用车牌2：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uCarNumber2" name="CarNumber2">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">备用车牌3：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uCarNumber3" name="CarNumber3">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">备用车牌4：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uCarNumber4" name="CarNumber4">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary" id="updateSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->

<!--修改弹出框-->
<div class="modal fade" id="updateTimeDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">修改车辆时间</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="updateTimeForm">
					<div class="form-group">
						<label class="col-sm-3 control-label">*开始时间：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="tStartTime" name="StartTime">
							<input type="hidden" class="form-control inp" id="tCarInfoList" name="CarInfoList">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*结束时间：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="tEndTime" name="EndTime">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="button" class="btn btn-primary" id="updateTimeSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->

<div class="modal fade" id="myXiazai">
    <div class="modal-dialog">
        <div class="modal-content"> 
            <div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal"> 
    				<span aria-hidden="true">&times;</span>
    				<span class="sr-only">Close</span>
    			</button>
    			<h4 class="modal-title">导出成功</h4>
			</div>
            <div class="modal-body">
                <div id="xiazai">
    			</div>
            </div>
		</div>
    </div>
</div>

<script src="js/tcxt/carInfo.js"></script>
</body>
</html>
