<!DOCTYPE html>
<html lang="zh-cn">
<head>

<title>智能一卡通平台|停车管理系统</title>
<link rel="stylesheet" type="text/css" href="./css/datePacker.css" />
<script  type="text/javascript">
#div1 {
	min-width: 670px;
}
</script>
 <script type="text/javascript">
if('$!operatorSession.TableSize'){
var TableSize = '$!operatorSession.TableSize';
}else{
 top.location='login.html';
}
</script>
</style>
<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
 #parse("/common/holiday.vm")
</head>

<body>
<p class="nav-bread navbar-fixed-top">
    <a onClick="goIndex()" style="cursor:pointer;">首页</a>
    /
    <a href="tccright.html">停车管理系统</a>
    /<span>节假日管理</span>
</p>
	<div class="row"><div class="col-sm-12 border1 text-right">
      <button type="button" class="btn btn-link" id="select">查询</button>
      <button type="button" class="btn btn-link" id="insert">设定节假日</button>
  	</div>
 <div class="row" style="margin-top:20px;">
    <div class="col-sm-3">
      <label>年份：</label>
      <input type="text" class="form-control" id="sHolidayName" name="HolidayName" >
    </div>
  </div>
<div id="div1"></div>

<span style="display:none" id="a"></span>
<script src="js/fullYearPicker.js"></script> 
<script src="js/tcxt/holiday.js"></script>
</body>
</html>