<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>智能一卡通平台|停车管理系统</title>
#parse("/common/header-meta-link.vm")
 <script type="text/javascript">
if('$!operatorSession.TableSize'){
var TableSize = '$!operatorSession.TableSize';
}else{
 top.location='login.html';
}
</script>
</head>
<body>
<div class="container-fluid">
  <p class="nav-bread navbar-fixed-top">
    <a onClick="goIndex()" style="cursor:pointer;">首页</a>
    /
    <a href="tccright.html">停车管理系统</a>
    /<span>停车场管理</span>
  </p>
  <div class="row"><div class="col-sm-12 border1 text-right">
      <button type="button" class="btn btn-link" id="select">查询</button>
	  <button type="button" class="btn btn-link" id="insert">添加</button>
      <!--<button type="button" class="btn btn-link">导出</button>-->
	  <button type="button" class="btn btn-link" id="update">修改</button>
	  <button type="button" class="btn btn-link" id="delete">删除</button>
    </div></div>
  <div class="row" style="margin-top:20px;">
    <div class="col-sm-3">
      <label>车位编号：</label>
      <input type="text" class="form-control" id="sParkInfoId" name="ParkInfoId" onblur="value=value.replace(/[^\.\w\u4E00-\u9FA5]/g, '')" />
    </div>
    <div class="col-sm-3">
      <label>车位名称：</label>
      <input type="text" class="form-control" id="sParkInfoName"  name="ParkInfoName" onblur="value=value.replace(/[^\.\w\u4E00-\u9FA5]/g, '')" />  
    </div>
    <div class="col-sm-3">
      <label id="sStandbyALabel">备注：</label>
      <input type="text" class="form-control" id="sRemark" name="Remark" onblur="value=value.replace(/[^\.\w\u4E00-\u9FA5]/g, '')" >
    </div>
  </div>
  <hr class="w98">
  <div class="container-fluid" style="margin-top:5px;padding:0 15px 15px;">
	<table id="table" class="easyui-datagrid"  style="height:600px">
	</table>
  </div>
</div>

<!--添加弹出框-->
<div class="modal fade" id="insertDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">添加车场信息</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="insertForm">
    				<div class="form-group">
						<label class="col-sm-3 control-label">*车场名称：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iParkInfoName" name="ParkInfoName"  >
						</div>
					</div>
    				<div class="form-group">
						<label class="col-sm-3 control-label">*车场编号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iParkInfoId" name="ParkInfoId">
						</div>
					</div>
    				<div class="form-group">
						<label class="col-sm-3 control-label">*临时车位数：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iCarsNumber" name="CarsNumber">
						</div>
					</div>
    				<div class="form-group">
						<label class="col-sm-3 control-label">*访客车位数：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iVisNumber" name="VisNumber">
						</div>
					</div>
					<div class="form-group" id="iRemarkDiv">
						<label class="col-sm-3 control-label" id="iRemarkLabel">备注：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iRemark" name="Remark">
						</div>
				    </div>
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary" id="insertSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->
	
<!--修改弹出框-->
<div class="modal fade" id="updateDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">修改车场信息</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="updateForm">
    				<div class="form-group">
						<label class="col-sm-3 control-label">*车场名称：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uParkInfoName" name="ParkInfoName">
							<input type="hidden" class="form-control inp" id="uParkInfoInnerId" name="ParkInfoInnerId">
						</div>
					</div>
    				<div class="form-group">
						<label class="col-sm-3 control-label">*车场编号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uParkInfoId" name="ParkInfoId">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*临时车位数：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uCarsNumber" name="CarsNumber">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*访客车位数：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uVisNumber" name="VisNumber">
						</div>
					</div>
					<div class="form-group" id="uRemarkDiv">
						<label class="col-sm-3 control-label" id="uRemarkLabel">备注：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uRemark" name="Remark">
						</div>
				    </div>
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary" id="updateSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->

<script src="js/tcxt/parkInfo.js"></script>
</body>
</html>
