<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>智能一卡通平台|停车管理系统</title>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/sidebar.css" rel="stylesheet">
		<!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
        <![endif]-->
	</head>
	
	
	<body>
		<div class="container-fluid">
			<ul class="list-unstyled">
				<li class="li_title">停车管理系统</li>
				<li id = "801"><a href="parkInfo.html" target="mainFrame"><span id="title">停车场管理</span></a></li>
				<li id = "802"><a href="userCarInfo.html" target="mainFrame"><span id="title">车辆信息管理</span></a></li>
				<!--<li id = "802"><a href="carExcel.html" target="mainFrame"><span id="title">车辆信息导入</span></a></li>-->
				<li id = "803"><a href="carType.html" target="mainFrame"><span id="title">车辆类型管理</span></a></li>
				<li id = "804"><a href="passRules.html" target="mainFrame"><span id="title">通行规则管理</span></a></li>
				<li id = "810"><a href="yuyueche.html" target="mainFrame"><span id="title">预约车辆管理</span></a></li>
				<li id = "805"><a href="holiday.html" target="mainFrame"><span id="title">节假日管理</span></a></li>
				<li id = "806"><a href="gudingchejilu.html" target="mainFrame"><span id="title">固定车通行记录</span></a></li>
				<li id = "807"><a href="yuyuechejilu.html" target="mainFrame"><span id="title">预约车通行记录</span></a></li>
				<li id = "809"><a href="teshuchejilu.html" target="mainFrame"><span id="title">特殊车通行记录</span></a></li>
				<li id = "808"><a href="yichangjilu.html" target="mainFrame"><span id="title">异常车辆记录</span></a></li>
				<!--<li id = "206"><a href="xiaofeiTJ.html" target="mainFrame"><span id="title">预约消费记录</span></a></li>-->
				<li id = "811"><a href="chargeRecord.html" target="mainFrame"><span id="title">车辆收费记录</span></a></li>
				<li id = "812"><a href="contcStatistics.html" target="mainFrame"><span id="title">收费记录统计</span></a></li>
				<li id = "813"><a href="parkNumber.html" target="mainFrame"><span id="title">车位数量管理</span></a></li>
			</ul>
		</div>
		<script src="jquery/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			var pageList =  '$!operatorSession.PageList';
			if(pageList.indexOf("801") != -1){
				document.getElementById("801").setAttribute("style","display:''");
			}else{
				document.getElementById("801").setAttribute("style","display:none");
			}if(pageList.indexOf("802") != -1){
				document.getElementById("802").setAttribute("style","display:''");
			}else{
				document.getElementById("802").setAttribute("style","display:none");
			}if(pageList.indexOf("803") != -1){
				document.getElementById("803").setAttribute("style","display:''");
			}else{
				document.getElementById("803").setAttribute("style","display:none");
			}if(pageList.indexOf("804") != -1){
				document.getElementById("804").setAttribute("style","display:''");
			}else{
				document.getElementById("804").setAttribute("style","display:none");
			}if(pageList.indexOf("805") != -1){
				document.getElementById("805").setAttribute("style","display:''");
			}else{
				document.getElementById("805").setAttribute("style","display:none");
			}if(pageList.indexOf("806") != -1){
				document.getElementById("806").setAttribute("style","display:''");
			}else{
				document.getElementById("806").setAttribute("style","display:none");
			}if(pageList.indexOf("807") != -1){
				document.getElementById("807").setAttribute("style","display:''");
			}else{
				document.getElementById("807").setAttribute("style","display:none");
			}if(pageList.indexOf("808") != -1){
				document.getElementById("808").setAttribute("style","display:''");
			}else{
				document.getElementById("808").setAttribute("style","display:none");
			}if(pageList.indexOf("809") != -1){
				document.getElementById("809").setAttribute("style","display:''");
			}else{
				document.getElementById("809").setAttribute("style","display:none");
			}if(pageList.indexOf("810") != -1){
				document.getElementById("810").setAttribute("style","display:''");
			}else{
				document.getElementById("810").setAttribute("style","display:none");
			}if(pageList.indexOf("811") != -1){
				document.getElementById("811").setAttribute("style","display:''");
			}else{
				document.getElementById("811").setAttribute("style","display:none");
			}if(pageList.indexOf("812") != -1){
				document.getElementById("812").setAttribute("style","display:''");
			}else{
				document.getElementById("812").setAttribute("style","display:none");
			}if(pageList.indexOf("813") != -1){
				document.getElementById("813").setAttribute("style","display:''");
			}else{
				document.getElementById("813").setAttribute("style","display:none");
			}
			
		</script>
		<script>
			$(function(){
				$(".list-unstyled li a").click(function(){	
		           $(this).addClass("a_active").parent().siblings().find("a").removeClass("a_active");
		           $(this).css({"border-left":"4px solid #245cc8","border-right":"4px solid #052e7c"}).parent().siblings().find("a").css({"border-left":"4px solid #21458f","border-right":"4px solid #21458f"});
				})

				var sidebar_h = $(window).height();
				$("#sidebar-h").css("height",sidebar_h);
			})
		</script>
	</body>
</html>
