<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>智能一卡通平台|停车管理系统</title>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/top.css" rel="stylesheet">
		<!--[if lt IE 9]>
        <script src="bootstrap/js/html5shiv.js"></script>
		<script src="bootstrap/js/respond.min.js"></script>
        <![endif]-->
		<script src="jquery/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			function goIndex(){
				top.location.href="index.html";
			}
			function goLogin(){
				if(confirm("确定要注销当前管理员？")){
					top.location.href="logout.html";
				}
			}
		</script>
	</head>
	
	<body>
		<nav class="navbar" role="navigation">
			<div class="container-fluid" style="background:url('images/logo1.png');background-size:100%;">
				<span class="logo-w"><a class="navbar-brand" onClick="goIndex()" style="cursor:pointer;">
					<img src="images/logo.png" style="width: 120px; margin-left:40px;"></a></span>
				<span class="navbar-text" style="font-size:25px;font-weight:bold;margin:0;margin-left:20px;line-height:70px;">北京市建筑设计研究院有限公司  </span><span class="navbar-text" style="font-size:14px;font-weight:100;margin:0;margin-left:20px;line-height:70px;">停车管理系统 </span>
				<div class="navbar-right">
					<span class="span1">$!operatorSession.OperatorId</span>
					<span class="span1"><a onClick="goLogin()" style="cursor:pointer;" class="exit">注销</a></span>
				</div>
			</div>
		</nav>
	</body>
</html>
