<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>智能一卡通平台|停车管理系统</title>
#parse("/common/header-meta-link.vm")
 <script type="text/javascript">
if('$!operatorSession.TableSize'){
var TableSize = '$!operatorSession.TableSize';
}else{
 top.location='login.html';
}
</script>
</head>
<body>
<div class="container-fluid">
  <p class="nav-bread navbar-fixed-top">
    <a onClick="goIndex()" style="cursor:pointer;">首页</a>
    /
    <a href="tccright.html">停车管理系统</a>
    /<span>异常车辆管理</span>
  </p>
  <div class="row"><div class="col-sm-12 border1 text-right">
      <button type="button" class="btn btn-link" id="select">查询</button>
	  <button type="button" class="btn btn-link" id="update">处理</button>
    </div></div>
  <div class="row" style="margin-top:20px;">
    <div class="col-sm-3">
      <label>车牌号：</label>
      <input type="text" class="form-control" id="sCarNumber" name="CarNumber" style="height:30px">
    </div>
    <div class="col-sm-3">
      <label>开始时间：</label>
      <input type="text" class="form-control" id="sStartTime" name="StartTime" style="height:30px">
    </div>
    <div class="col-sm-3">
      <label>结束时间：</label>
      <input type="text" class="form-control" id="sEndTime" name="EndTime" style="height:30px">
    </div>
  </div>
  <hr class="w98">
  <div class="container-fluid" style="margin-top:5px;padding:0 15px 15px;">
	<table id="table" class="easyui-datagrid"  style="height:600px">
	</table>
  </div>
</div>
	
<!--修改弹出框-->
<div class="modal fade" id="updateDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">异常收费处理</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="updateForm">
    				<div class="form-group">
						<label class="col-sm-3 control-label">*访客姓名：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uVisitorName" name="VisitorName" disabled>
							<input type="hidden" class="form-control inp" id="uChargeRecordInnerId" name="ChargeRecordInnerId">
						</div>
					</div>
    				<div class="form-group">
						<label class="col-sm-3 control-label">*访客公司：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uVisitorCompany" name="VisitorCompany" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*车牌号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uCarNumber" name="CarNumber" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*进入时间：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uInTime" name="InTime" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*离开时间：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uOutTime" name="OutTime">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary" id="updateSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->

<script src="js/tcxt/yichangjilu.js"></script>
</body>
</html>
