<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>智能一卡通平台|人事业务中心</title>
 #parse("/common/header-meta-link.vm")
 <script type="text/javascript">
if('$!operatorSession.TableSize'){
var TableSize = '$!operatorSession.TableSize';
}else{
 top.location='login.html';
}
</script>
</head>
<body>
<div class="container-fluid">
  <p class="nav-bread navbar-fixed-top">
    <a onClick="goIndex()" style="cursor:pointer;">首页</a>
    /
    <a href="rsywright.html">人事业务中心</a>
    /<span>部门管理</span>
  </p>
  <div class="row"><div class="col-sm-12 border1 text-right">
	  <!--<button type="button" class="btn btn-link" id="insertTop">添加顶级部门</button>
	  <button type="button" class="btn btn-link" id="insert">添加下级部门</button>
      <button type="button" class="btn btn-link" id="select">查询</button>
      <button type="button" class="btn btn-link">导出</button>-->
	  <button type="button" class="btn btn-link" id="update">授权</button>
	  <button type="button" class="btn btn-link" id="delete">删除</button>
    </div></div>
  <div class="row" style="margin-top:20px;">
    <div class="col-sm-3">
      <label>选择公司：</label>
      <input type="text" class="form-control" id="sCompanyInnerId" name="CompanyInnerId" style="height:30px">
    </div>
  </div>
  <hr class="w98">
  <div class="container-fluid" style="margin-top:5px;padding:0 15px 15px;">
	<table id="table" style="height:450px">
	</table>
  </div>
</div>

<!--添加顶级部门弹出框-->
<div class="modal fade" id="insertTopDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">添加顶级部门</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="insertTopForm">
    				<div class="form-group">
						<label class="col-sm-3 control-label">*所属公司：</label>
						<div class="col-sm-9">
							<input type="hidden" class="form-control inp" id="itCompanyInnerId" name="CompanyInnerId" >
							<input type="text" class="form-control inp" id="itCompanyName" name="CompanyName" readonly="readonly" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*部门名称：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="itDepartmentName" name="DepartmentName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*部门编号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="itDepartmentId" name="DepartmentId">
						</div>
					</div>
    				<div class="form-group" id="itStandbyADiv">
						<label class="col-sm-3 control-label" id="itStandbyALabel">备用1：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="itStandbyA" name="StandbyA">
						</div>
					</div>
					<div class="form-group" id="itStandbyBDiv">
						<label class="col-sm-3 control-label" id="itStandbyBLabel">备用2：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="itStandbyB" name="StandbyB">
						</div>
				    </div>
					<div class="form-group" id="itStandbyCDiv">
						<label class="col-sm-3 control-label" id="itStandbyCLabel">备用3：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="itStandbyC" name="StandbyC">
						</div>
				    </div>
					<div class="form-group" id="itStandbyDDiv">
						<label class="col-sm-3 control-label" id="itStandbyDLabel">备用4：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="itStandbyD" name="StandbyD">
						</div>
				    </div>
					<div class="form-group" id="itRemarkDiv">
						<label class="col-sm-3 control-label" id="itRemarkLabel">备注：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="itRemark" name="Remark">
						</div>
				    </div>
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary" id="insertTopSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->


<!--添加弹出框-->
<div class="modal fade" id="insertDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">添加部门</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="insertForm">
    				<div class="form-group">
						<label class="col-sm-3 control-label">*所属公司：</label>
						<div class="col-sm-9">
							<input type="hidden" class="form-control inp" id="iCompanyInnerId" name="CompanyInnerId" >
							<input type="text" class="form-control inp" id="iCompanyName" name="CompanyName" readonly="readonly">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*上级部门：</label>
						<div class="col-sm-9">
							<input type="hidden" class="form-control inp" id="iUpInnerId" name="UpInnerId">
							<input type="text" class="form-control inp" id="iUpName" name="UpName" readonly="readonly">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*部门名称：</label>
						<div class="col-sm-9">
							<input type="hidden" class="form-control inp" id="iDepartmentLevel" name="DepartmentLevel">
							<input type="text" class="form-control inp" id="iDepartmentName" name="DepartmentName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*部门编号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iDepartmentId" name="DepartmentId">
						</div>
					</div>
    				<div class="form-group" id="iStandbyADiv">
						<label class="col-sm-3 control-label" id="iStandbyALabel">备用1：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iStandbyA" name="StandbyA">
						</div>
					</div>
					<div class="form-group" id="iStandbyBDiv">
						<label class="col-sm-3 control-label" id="iStandbyBLabel">备用2：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iStandbyB" name="StandbyB">
						</div>
				    </div>
					<div class="form-group" id="iStandbyCDiv">
						<label class="col-sm-3 control-label" id="iStandbyCLabel">备用3：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iStandbyC" name="StandbyC">
						</div>
				    </div>
					<div class="form-group" id="iStandbyDDiv">
						<label class="col-sm-3 control-label" id="iStandbyDLabel">备用4：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iStandbyD" name="StandbyD">
						</div>
				    </div>
					<div class="form-group" id="iRemarkDiv">
						<label class="col-sm-3 control-label" id="iRemarkLabel">备注：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iRemark" name="Remark">
						</div>
				    </div>
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary" id="insertSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->
	
<!--修改弹出框-->
<div class="modal fade" id="updateDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">修改部门</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="updateForm">
    				<div class="form-group">
						<label class="col-sm-3 control-label">*所属公司：</label>
						<div class="col-sm-9">
							<input type="hidden" class="form-control inp" id="uCompanyInnerId" name="CompanyInnerId" >
							<input type="text" class="form-control inp" id="uCompanyName" name="CompanyName" readonly="readonly">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*部门名称：</label>
						<div class="col-sm-9">
							<input type="hidden" class="form-control inp" id="uUpInnerId" name="UpInnerId">
							<input type="hidden" class="form-control inp" id="uDepartmentInnerId" name="DepartmentInnerId">
							<input type="hidden" class="form-control inp" id="uDepartmentLevel" name="DepartmentLevel">
							<input type="text" class="form-control inp" id="uDepartmentName" name="DepartmentName" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*部门编号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uDepartmentId" name="DepartmentId" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" >权限标识：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="depConPower" name="depConPower" style="height:28px;">
						</div>
				    </div>
    				<div class="form-group" id="uStandbyADiv">
						<label class="col-sm-3 control-label" id="uStandbyALabel">备用1：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uStandbyA" name="StandbyA">
						</div>
					</div>
					<div class="form-group" id="uStandbyBDiv">
						<label class="col-sm-3 control-label" id="uStandbyBLabel">备用2：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uStandbyB" name="StandbyB">
						</div>
				    </div>
					<div class="form-group" id="uStandbyCDiv">
						<label class="col-sm-3 control-label" id="uStandbyCLabel">备用3：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uStandbyC" name="StandbyC">
						</div>
				    </div>
					<div class="form-group" id="uStandbyDDiv">
						<label class="col-sm-3 control-label" id="uStandbyDLabel">备用4：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uStandbyD" name="StandbyD">
						</div>
				    </div>
					<div class="form-group" id="uRemarkDiv">
						<label class="col-sm-3 control-label" id="uRemarkLabel">备注：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uRemark" name="Remark">
						</div>
				    </div>
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary" id="updateSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->

<script src="js/rsywzx/department.js"></script>
</body>
</html>
