<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>停车管理系统|人事业务中心</title>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/sidebar.css" rel="stylesheet">
		<!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
        <![endif]-->
	</head>
	
	
	<body>
		<div class="container-fluid">
			<ul class="list-unstyled">
				<li class="li_title">人事业务中心</li>
				<li id = "201"><a href="company.html" target="mainFrame"><span id="title">公司管理</span></a></li>
				<li id = "202"><a href="department.html" target="mainFrame"><span id="title">部门管理</span></a></li>
				<li id = "203"><a href="user.html" target="mainFrame"><span id="title">人员管理</span></a></li>
				<!--<li id = "205"><a href="userExcel.html" target="mainFrame"><span id="title">人员导入</span></a></li>
				<li id = "204"><a href="mark.html" target="mainFrame"><span id="title">标识管理</span></a></li>
				<li id = "206"><a href="markLog.html" target="mainFrame"><span id="title">卡操作日志</span></a></li>-->
			</ul>
		</div>
		<script src="jquery/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			var pageList =  '$!operatorSession.PageList';
			if(pageList.indexOf("201") != -1){
				document.getElementById("201").setAttribute("style","display:''");
			}else{
				document.getElementById("201").setAttribute("style","display:none");
			}if(pageList.indexOf("202") != -1){
				document.getElementById("202").setAttribute("style","display:''");
			}else{
				document.getElementById("202").setAttribute("style","display:none");
			}if(pageList.indexOf("203") != -1){
				document.getElementById("203").setAttribute("style","display:''");
			}else{
				document.getElementById("203").setAttribute("style","display:none");
			}if(pageList.indexOf("204") != -1){
				document.getElementById("204").setAttribute("style","display:''");
			}else{
				document.getElementById("204").setAttribute("style","display:none");
			}if(pageList.indexOf("205") != -1){
				document.getElementById("205").setAttribute("style","display:''");
			}else{
				document.getElementById("205").setAttribute("style","display:none");
			}if(pageList.indexOf("206") != -1){
				document.getElementById("206").setAttribute("style","display:''");
			}else{
				document.getElementById("206").setAttribute("style","display:none");
			}
			
		</script>
		<script>
			$(function(){
				$(".list-unstyled li a").click(function(){	
		           $(this).addClass("a_active").parent().siblings().find("a").removeClass("a_active");
		           $(this).css({"border-left":"4px solid #245cc8","border-right":"4px solid #052e7c"}).parent().siblings().find("a").css({"border-left":"4px solid #21458f","border-right":"4px solid #21458f"});
				})

				var sidebar_h = $(window).height();
				$("#sidebar-h").css("height",sidebar_h);
			})
		</script>
	</body>
</html>
