<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>智能一卡通平台|人事业务中心</title>
 #parse("/common/header-meta-link.vm")
<style type="text/css">
	.row label{width:70px;}
</style>
 <script type="text/javascript">
if('$!operatorSession.TableSize'){
var TableSize = '$!operatorSession.TableSize';
}else{
 top.location='login.html';
}
</script>
 <div id="readobject" style="display: none" >
 <OBJECT
	  classid="clsid:CEA82072-043E-4023-BF5E-4AAE4AF1454B" 
	  width=100
	  height=100
	  align=center
	  hspace=0
	  vspace=0
	  id = SmartID_zr	  
>
  </OBJECT>
 </div>
</head>
<body>
<div class="container-fluid">
  <p class="nav-bread navbar-fixed-top">
    <a onClick="goIndex()" style="cursor:pointer;">首页</a>
    /
    <a href="rsywright.html">人事业务中心</a>
    /<span>人员管理</span>
  </p>
  <div class="row"><div class="col-sm-12 border1 text-right">
      <button type="button" class="btn btn-link" id="select">查询</button>
	  <button type="button" class="btn btn-link" id="update">预约授权</button>
	  <button type="button" class="btn btn-link" id="insert">添加</button>
	  <button type="button" class="btn btn-link" id="xiugai">修改</button>
	  <button type="button" class="btn btn-link" id="delete">删除</button>
	  <!--<button type="button" class="btn btn-link" id="readCard">读卡</button>
      <button type="button" class="btn btn-link"	id="export">导出</button>
	  <button type="button" class="btn btn-link"	id="reset">重置密码</button>
	  <button type="button" class="btn btn-link" id="time">各应用有效期</button>-->
    </div></div>
  <div class="row" style="margin-top:20px;">
	<div class="col-sm-3">
      <label>公司部门：</label>
      <input type="text" class="form-control" id="sDepartmentInnerId" name="DepartmentInnerId" style="width:170px;height:28px">
    </div>
	<div class="col-sm-3">
      <label>人员类型：</label>
      <input type="text" class="form-control" id="sUserTypeInnerId" name="UserTypeInnerId" style="width:170px;height:28px">
    </div>
	<div class="col-sm-3">
      <label>人员编号：</label>
      <input type="text" class="form-control" id="sUserId" name="UserId"  onblur="value=value.replace(/[^\.\w\u4E00-\u9FA5]/g, '')" >
    </div>
    <div class="col-sm-3">
      <label>人员姓名：</label>
      <input type="text" class="form-control" id="sUserName" name="UserName"  onblur="value=value.replace(/[^\.\w\u4E00-\u9FA5]/g, '')" >
    </div>
	<div class="col-sm-3" id="sMobileDiv">
      <label id="sMobileLabel">手机号码：</label>
      <input type="text" class="form-control" id="sMobile" name="Mobile"  onblur="value=value.replace(/[^\.\w\u4E00-\u9FA5]/g, '')" >
    </div>
    <div class="col-sm-3" id="sRemarkDiv">
      <label id="sRemarkLabel">备注信息：</label>
      <input type="text" class="form-control" id="sRemark" name="Remark" onblur="value=value.replace(/[^\.\w\u4E00-\u9FA5]/g, '')" >
    </div>
    <div class="col-sm-3" id="sStandbyADiv">
      <label id="sStandbyALabel">备用1：</label>
      <input type="text" class="form-control" id="sStandbyA" name="StandbyA" onblur="value=value.replace(/[^\.\w\u4E00-\u9FA5]/g, '')" >
    </div>
	<div class="col-sm-3" id="sStandbyBDiv">
      <label id="sStandbyBLabel">备用2：</label>
      <input type="text" class="form-control" id="sStandbyB" name="StandbyB" onblur="value=value.replace(/[^\.\w\u4E00-\u9FA5]/g, '')" >
    </div>
	<div class="col-sm-3" id="sStandbyCDiv">
      <label id="sStandbyCLabel">备用3：</label>
      <input type="text" class="form-control" id="sStandbyC" name="StandbyC" onblur="value=value.replace(/[^\.\w\u4E00-\u9FA5]/g, '')" >
    </div>
	<div class="col-sm-3" id="sStandbyDDiv">
      <label id="sStandbyDLabel">备用4：</label>
      <input type="text" class="form-control" id="sStandbyD" name="StandbyD" onblur="value=value.replace(/[^\.\w\u4E00-\u9FA5]/g, '')" >
    </div>
  </div>
  <hr class="w98">
  <div class="container-fluid" style="margin-top:5px;padding:0 15px 15px;">
	<table id="table"  style="height:450px">
	</table>
  </div>
</div>

<!--添加弹出框-->
<div class="modal fade" id="insertDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">添加人员</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="insertForm" enctype="multipart/form-data">
    				<div class="form-group">
						<label class="col-sm-3 control-label">*人员姓名：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="UserName" name="UserName">
						</div>
					</div>
    				<div class="form-group">
						<label class="col-sm-3 control-label">*人员编号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="UserId" name="UserId">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*人员类型：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="UserTypeInnerId" name="UserTypeInnerId" style="width:250px;height:30px">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*部门：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="Department" name="Department" style="width:250px;height:30px">
							<input type="hidden" class="form-control inp" id="DepartmentInnerId" name="DepartmentInnerId">
							<input type="hidden" class="form-control inp" id="Password" name="Password">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*有效期开始：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="StartTime" name="StartTime">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*有效期结束：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="EndTime" name="EndTime">
						</div>
					</div>
					<div class="form-group" id="iIdTypeDiv">
						<label class="col-sm-3 control-label" id="iIdTypeLabel">证件类型：</label>
						<div class="col-sm-9">
							<select class="form-control" id="IdType" name="IdType">
								<option value="0">身份证</option>
								<option value="1">学生证</option>
								<option value="2">港澳证</option>
								<option value="3">台胞证</option>
								<option value="4">护照</option>
								<option value="5">其他</option>
							</select>
						</div>
					</div>
					<div class="form-group" id="iIdNumberDiv">
						<label class="col-sm-3 control-label" id="iIdNumberLabel">证件号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="IdNumber" name="IdNumber" >
						</div>
					</div>
					<div class="form-group" id="iSexDiv">
						<label class="col-sm-3 control-label" id="iSexLabel">性别：</label>
						<div class="col-sm-9">
							<select class="form-control" id="Sex" name="Sex">
								<option value="0">男</option>
								<option value="1">女</option>
								<option value="2">未知</option>
							</select>
						</div>
					</div>
					<div class="form-group" id="iBirthdayDiv">
						<label class="col-sm-3 control-label" id="iBirthdayLabel">生日：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="Birthday" name="Birthday">
						</div>
					</div>
					<div class="form-group" id="iMobileDiv">
						<label class="col-sm-3 control-label" id="iMobileLabel">手机号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="Mobile" name="Mobile">
						</div>
					</div>
					<div class="form-group" id="iPhoneDiv">
						<label class="col-sm-3 control-label" id="iPhoneLabel">固定电话：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="Phone" name="Phone">
						</div>
					</div>
					<div class="form-group" id="iEmailDiv">
						<label class="col-sm-3 control-label" id="iEmailLabel">邮箱：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="Email" name="Email">
						</div>
					</div>
					<div class="form-group" id="iJobDiv">
						<label class="col-sm-3 control-label" id="iJobLabel">职位：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="Job" name="Job" >
						</div>
					</div>
					<div class="form-group" id="iJobLevelDiv">
						<label class="col-sm-3 control-label" id="iJobLevelLabel">职位级别：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="JobLevel" name="JobLevel" >
						</div>
					</div>
					<div class="form-group" id="iEducationDiv">
						<label class="col-sm-3 control-label" id="iEducationLabel">学历：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="Education" name="Education" >
							<!--<select class="form-control" id="Education" name="Education">
								<option value="0">博士</option>
								<option value="1">硕士</option>
								<option value="2">本科</option>
								<option value="3">专科</option>
								<option value="4">高中</option>
								<option value="5">初中</option>
								<option value="6">小学及以下</option>
							</select>-->
						</div>
					</div>
					<div class="form-group" id="iNationDiv">
						<label class="col-sm-3 control-label" id="iNationLabel">民族：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="Nation" name="Nation" >
						</div>
					</div>
					<div class="form-group" id="iCountryDiv">
						<label class="col-sm-3 control-label" id="iCountryLabel">国籍：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="Country" name="Country" >
						</div>
					</div>
					<div class="form-group" id="iNativePlaceDiv">
						<label class="col-sm-3 control-label" id="iNativePlaceLabel">原籍：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="NativePlace" name="NativePlace"  >
						</div>
					</div>
					<div class="form-group" id="iAddressDiv">
						<label class="col-sm-3 control-label" id="iAddressLabel">地址：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="Address" name="Address"> 
						</div>
					</div>
    				<div class="form-group" id="iStandbyADiv">
						<label class="col-sm-3 control-label" id="iStandbyALabel">备用1：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="StandbyA" name="StandbyA">
						</div>
					</div>
					<div class="form-group" id="iStandbyBDiv">
						<label class="col-sm-3 control-label" id="iStandbyBLabel">备用2：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="StandbyB" name="StandbyB">
						</div>
				    </div>
					<div class="form-group" id="iStandbyCDiv">
						<label class="col-sm-3 control-label" id="iStandbyCLabel">备用3：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="StandbyC" name="StandbyC">
						</div>
					</div>
					<div class="form-group" id="iStandbyDDiv">
						<label class="col-sm-3 control-label" id="iStandbyDLabel">备用4：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="StandbyD" name="StandbyD">
						</div>
				    </div>
					<div class="form-group" id="iRemarkDiv">
						<label class="col-sm-3 control-label" id="RemarkLabel">备注：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="Remark" name="Remark">
						</div>
				    </div>
					<div class="form-group">
						<label class="col-sm-3 control-label">头像上传:</label>
						<div class="col-sm-9" style="color:red;">
							<input id="HeadFile" type="file"  name="HeadFile" onchange="isValidateFile(this)"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" style="vertical-align:middle;">头像预览:</label>
						<div class="col-sm-9">
							<img src="" id="Images" class="img-circle" style="width:100px;height:140px"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary" id="insertSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->
	
<!--修改弹出框-->
<div class="modal fade" id="updateXgDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">修改人员</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="updateFormXg">
    				<div class="form-group">
						<label class="col-sm-3 control-label">*人员姓名：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgUserName" name="UserName"  />
							<input type="hidden" class="form-control inp" id="uXgUserInnerId" name="UserInnerId"/>
						</div>
					</div>
    				<div class="form-group">
						<label class="col-sm-3 control-label">*人员编号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgUserId" name="UserId" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">区域应用权限：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgAreaList" name="AreaList" style="width:250px;height:30px">
						   <input type="hidden" class="form-control inp" id="uXgAppList" name="AppList" style="width:250px;height:30px">
                     	</div>
					</div>
					<div class="form-group" >
						<label class="col-sm-3 control-label">*人员类型：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgUserTypeInnerId" name="UserTypeInnerId" style="width:250px;height:30px">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*部门：</label>
						<div class="col-sm-9">
							<input type="hidden" class="form-control inp" id="uXgDepartmentInnerId" name="DepartmentInnerId">
							<input type="text" class="form-control inp" id="uXgDepartment" name="Department" style="width:250px;height:30px">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*有效期开始：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgStartTime" name="StartTime">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*有效期结束：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgEndTime" name="EndTime">
						</div>
					</div>
					<div class="form-group" id="uIdTypeDiv">
						<label class="col-sm-3 control-label" id="uIdTypeLabel">证件类型：</label>
						<div class="col-sm-9">
							<select class="form-control" id="uXgIdType" name="IdType">
								<option value="0">身份证</option>
								<option value="1">学生证</option>
								<option value="2">港澳证</option>
								<option value="3">台胞证</option>
								<option value="4">护照</option>
								<option value="5">其他</option>
							</select>
						</div>
					</div>
					<div class="form-group" id="uIdNumberDiv">
						<label class="col-sm-3 control-label" id="uIdNumberLabel">证件号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgIdNumber" name="IdNumber"  >
						</div>
					</div>
					<div class="form-group" id="uSexDiv">
						<label class="col-sm-3 control-label" id="uSexLabel">性别：</label>
						<div class="col-sm-9">
							<select class="form-control" id="uXgSex" name="Sex">
								<option value="0">男</option>
								<option value="1">女</option>
								<option value="2">未知</option>
							</select>
						</div>
					</div>
					<div class="form-group" id="uBirthdayDiv">
						<label class="col-sm-3 control-label" id="uBirthdayLabel">生日：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgBirthday" name="Birthday">
						</div>
					</div>
					<div class="form-group" id="uMobileDiv">
						<label class="col-sm-3 control-label" id="uMobileLabel">手机号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgMobile" name="Mobile" >
						</div>
					</div>
					<div class="form-group" id="uPhoneDiv">
						<label class="col-sm-3 control-label" id="uPhoneLabel">固定电话：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgPhone" name="Phone"  >
						</div>
					</div>
					<div class="form-group" id="uEmailDiv">
						<label class="col-sm-3 control-label" id="uEmailLabel">邮箱：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgEmail" name="Email"  >
						</div>
					</div>
					<div class="form-group" id="uJobDiv">
						<label class="col-sm-3 control-label" id="uJobLabel">职位：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgJob" name="Job" >
						</div>
					</div>
					<!--<div class="form-group">
						<label class="col-sm-3 control-label">就餐时间段：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uConTimeInnerId" name="ConTimeInnerId" style="width:250px;height:30px">
						</div>
					</div>-->
					<div class="form-group" id="uEducationDiv">
						<label class="col-sm-3 control-label" id="uEducationLabel">学历：</label>
						<div class="col-sm-9">
							<select class="form-control" id="uXgEducation" name="Education">
								<option value="0">博士</option>
								<option value="1">硕士</option>
								<option value="2">本科</option>
								<option value="3">专科</option>
								<option value="4">高中</option>
								<option value="5">初中</option>
								<option value="6">小学及以下</option>
							</select>
						</div>
					</div>
					<div class="form-group" id="uNationDiv">
						<label class="col-sm-3 control-label" id="uNationLabel">民族：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgNation" name="Nation"  >
						</div>
					</div>
					<div class="form-group" id="uCountryDiv">
						<label class="col-sm-3 control-label" id="uCountryLabel">国籍：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgCountry" name="Country" >
						</div>
					</div>
					<div class="form-group" id="uNativePlaceDiv">
						<label class="col-sm-3 control-label" id="uNativePlaceLabel">原籍：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgNativePlace" name="NativePlace" >
						</div>
					</div>
					<div class="form-group" id="uAddressDiv">
						<label class="col-sm-3 control-label" id="uAddressLabel">地址：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgAddress" name="Address" >
						</div>
					</div>
    				<div class="form-group" id="uStandbyADiv">
						<label class="col-sm-3 control-label" id="uStandbyALabel">备用1：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgStandbyA" name="StandbyA">
						</div>
					</div>
					<div class="form-group" id="uStandbyBDiv">
						<label class="col-sm-3 control-label" id="uStandbyBLabel">备用2：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgStandbyB" name="StandbyB">
						</div>
				    </div>
					<div class="form-group" id="uStandbyCDiv">
						<label class="col-sm-3 control-label" id="uStandbyCLabel">备用3：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgStandbyC" name="StandbyC">
						</div>
					</div>
					<div class="form-group" id="uStandbyDDiv">
						<label class="col-sm-3 control-label" id="uStandbyDLabel">备用4：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgStandbyD" name="StandbyD">
						</div>
				    </div>
					<div class="form-group" id="uRemarkDiv">
						<label class="col-sm-3 control-label" id="uRemarkLabel">备注：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uXgRemark" name="Remark">
						</div>
				    </div>
					<div class="form-group">
						<label class="col-sm-3 control-label">头像上传:</label>
						<div class="col-sm-9" style="color:red;">
							<input id="uXgHeadFile" type="file"  name="HeadFile" onchange="uisValidateFile(this)"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" style="vertical-align:middle;">头像预览:</label>
						<div class="col-sm-9">
							<img src="" id="uXgImages" class="img-circle" style="width:100px;height:140px"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary" id="updateXgSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->
	
	
<!--授权弹出框-->
<div class="modal fade" id="updateDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">预约授权</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="updateForm">
    				<div class="form-group">
						<label class="col-sm-3 control-label">*人员姓名：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uUserName" name="UserName" readonly />
							<input type="hidden" class="form-control inp" id="uUserInnerId" name="UserInnerId"/>
						</div>
					</div>
    				<div class="form-group">
						<label class="col-sm-3 control-label">*人员编号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uUserId" name="UserId" readonly>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">区域应用权限：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uAreaList" name="AreaList" style="width:250px;height:30px" disabled>
						   <input type="hidden" class="form-control inp" id="uAppList" name="AppList" style="width:250px;height:30px">
                     	</div>
					</div>
					<div class="form-group" >
						<label class="col-sm-3 control-label">*人员类型：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uUserTypeInnerId" name="UserTypeInnerId" style="width:250px;height:30px" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*部门：</label>
						<div class="col-sm-9">
							<input type="hidden" class="form-control inp" id="uDepartmentInnerId" name="DepartmentInnerId">
							<input type="text" class="form-control inp" id="uDepartment" name="Department" style="width:250px;height:30px" disabled>
						</div>
					</div>
					<div class="form-group" id="uSexDiv">
						<label class="col-sm-3 control-label" id="uSexLabel">性别：</label>
						<div class="col-sm-9">
							<select class="form-control" id="uSex" name="Sex" disabled>
								<option value="0">男</option>
								<option value="1">女</option>
								<option value="2">未知</option>
							</select>
						</div>
					</div>
					<div class="form-group" id="uSexDiv">
						<label class="col-sm-3 control-label">预约权限：</label>
						<div class="col-sm-9">
							<select class="form-control" id="uUState" name="UState">
								<option value="3">有权限</option>
								<option value="1">无权限</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="button" class="btn btn-primary" id="updateSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->

<div class="modal fade" id="myXiazai">
    <div class="modal-dialog">
        <div class="modal-content"> 
            <div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal"> 
    				<span aria-hidden="true">&times;</span>
    				<span class="sr-only">Close</span>
    			</button>
    			<h4 class="modal-title">导出成功</h4>
			</div>
            <div class="modal-body">
                <div id="xiazai">
    			</div>
            </div>
		</div>
    </div>
</div>


<!--应用时间弹出框-->
<div class="modal fade" id="timeDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">设置各应用有效期</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form">
    			<table class="table table-responsive table-hover table-bordered tab_list text-center">
					<thead>
						<tr>
							<th  style="display:none">>id:</th>
							<th>姓名:</th>
							<th>区域:</th>
							<th>应用:</th>
							<th>开始日期:</th>
							<th>结束日期:</th>
						</tr>
					</thead>
					<tbody id="timeTable">
						
					</tbody>
				</table>
			   <div style="margin-top:20px;" align="center">
			   		<button type="button" class="btn btn-primary" id="timeSubmit">确定</button>
			   		<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
			   </div>
			   </form>
			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->

<script src="js/rsywzx/user.js"></script>
</body>
</html>
