<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhsr.smartid.zhanghuyewu.dao.ZhanghuyewuMapper">
	<sql id="AccountSql">AccountInnerId,AccountTypeInnerId,UserInnerId,Money,AccountState,Remark,StandbyA,StandbyB</sql>
	<sql id="AccountLogSqlNoId">AccountInnerId,UserInnerId,DepartmentInnerId,CompanyInnerId,AccountTypeInnerId,Money,BeforeMoney,AfterMoney,InOrOut,RechargeType,MoneySource,Operator,Payee,AccountDate,StreamCode,Remark,StandbyA,StandbyB,StandbyC,StandbyD</sql>
	<sql id="AccountLogUserSql">AccountLogInnerId,AccountInnerId,UserInnerId,DepartmentInnerId,CompanyInnerId,AccountTypeInnerId,Money,BeforeMoney,AfterMoney,InOrOut,RechargeType,MoneySource,Operator,Payee,AccountDate,StreamCode,Remark,StandbyA,StandbyB,StandbyC,StandbyD,UserId,UserName,CompanyId,CompanyName,DepartmentId,DepartmentName,NowMoney,AccountTypeId,AccountTypeName</sql>
	<sql id="AccountDiscountSql">AccountDiscountInnerId,AccountDiscountId,AccountDiscountName,Proportion,UserTypeList,BeginTime,EndTime,Remark,DelFlag,StandbyA,StandbyB,StandbyC,StandbyD</sql>
	<sql id="AccountDiscountSqlNoId">AccountDiscountId,AccountDiscountName,Proportion,UserTypeList,BeginTime,EndTime,Remark,DelFlag,StandbyA,StandbyB,StandbyC,StandbyD</sql>
	<sql id="UserSql">UserInnerId,UserId,UserName,UserTypeInnerId,CompanyInnerId,DepartmentInnerId,Password,AreaList,AppList,StartTime,EndTime,DelFlag,Remark,IdType,IdNumber,Sex,Birthday,Mobile,Phone,Email,Job,JobLevel,Education,ImageUrl,Nation,Country,NativePlace,Address,UState</sql>

	<!-- 查询账户 -->
	<select id="selectAccount" parameterType="Map" resultType="Account">
		SELECT
		<include refid="AccountSql" />
		FROM System_Account
		where AccountState=0
		<if test="AccountInnerId !=null">
			and AccountInnerId = #{AccountInnerId}
		</if>
		<if test="UserInnerId !=null">
			and UserInnerId = #{UserInnerId}
		</if>
		<if test="AccountTypeInnerId !=null">
			and AccountTypeInnerId = #{AccountTypeInnerId}
		</if>
	</select>

	<!-- 添加充值记录 -->
	<insert id="insertAccountLog" parameterType="AccountLog">
		INSERT INTO System_AccountLog
		(
		<include refid="AccountLogSqlNoId" />
		)
		VALUES
		(#{AccountInnerId},#{UserInnerId},#{DepartmentInnerId},#{CompanyInnerId},#{AccountTypeInnerId},#{Money},#{BeforeMoney},#{AfterMoney},#{InOrOut},#{RechargeType},#{MoneySource},#{Operator},#{Payee},#{AccountDate},#{StreamCode},#{Remark},#{StandbyA},#{StandbyB},#{StandbyC},#{StandbyD})
	</insert>

	<!-- 根据主键查询充值记录 -->
	<select id="selectAccountLog_UserByInnerId" parameterType="Integer" resultType="AccountLog_User">
		SELECT
		<include refid="AccountLogUserSql" />
		FROM AccountLog_User
		where DelFlag=0 and AccountLogInnerId = #{AccountLogInnerId}
	</select>

	<!-- 查询充值记录 -->
	<select id="selectAccountLog" parameterType="Map" resultType="AccountLog_User">
		SELECT TOP ${rows}
		<include refid="AccountLogUserSql" />
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY ${sort}) AS RowNumber,
		<include refid="AccountLogUserSql" />
		FROM AccountLog_User
		where 1=1
		<if test="UserId !=null and UserId !='' ">
			and UserId like '%${UserId}%'
		</if>
		<if test="UserName !=null and UserName !='' ">
			and UserName like '%${UserName}%'
		</if>
		<if test="Remark !=null and Remark !='' ">
			and Remark like '%${Remark}%'
		</if>
		<if test="StandbyA !=null and StandbyA !='' ">
			and StandbyA like '%${StandbyA}%'
		</if>
		<if test="StandbyB !=null and StandbyB !='' ">
			and StandbyB like '%${StandbyB}%'
		</if>
		<if test="StandbyC !=null and StandbyC !='' ">
			and StandbyC like '%${StandbyC}%'
		</if>
		<if test="StandbyD !=null and StandbyD !='' ">
			and StandbyD like '%${StandbyD}%'
		</if>
		<if test="StartTime !=null and StartTime !='' ">
			and AccountDate between cast(#{StartTime} as datetime) and cast(#{EndTime} as datetime)
		</if>
		<if test="DepartmentList !=null and DepartmentList !=''">
			and DepartmentInnerId in (select str2table from StrToTable(#{DepartmentList}))
		</if>
		<if test="AccountTypeInnerId !=null and AccountTypeInnerId !=''">
			and AccountTypeInnerId in (select str2table from StrToTable(#{AccountTypeInnerId}))
		</if>
		<if test="InOrOut !=null and InOrOut !=''">
			and InOrOut in (select str2table from StrToTable(#{InOrOut}))
		</if>
		<if test="Operator !=null and Operator !=''">
			and Operator in (select str2table from StrToTable(#{Operator}))
		</if>
		<if test="Payee !=null and Payee !=''">
			and Payee in (select str2table from StrToTable(#{Payee}))
		</if>
		<if test="RechargeType !=null and RechargeType !=''">
			and RechargeType in (select str2table from StrToTable(#{RechargeType}))
		</if>
		<if test="MoneySource !=null and MoneySource !=''">
			and MoneySource in (select str2table from StrToTable(#{MoneySource}))
		</if>
		and DepartmentInnerId != 42
		) as A
		WHERE RowNumber > ${start}
	</select>

	<!-- 查询充值记录总数 -->
	<select id="selectAccountLogTotal" parameterType="Map" resultType="Integer">
		SELECT count(AccountLogInnerId) FROM AccountLog_User where 1=1
		<if test="UserId !=null and UserId !='' ">
			and UserId like '%${UserId}%'
		</if>
		<if test="UserName !=null and UserName !='' ">
			and UserName like '%${UserName}%'
		</if>
		<if test="Remark !=null and Remark !='' ">
			and Remark like '%${Remark}%'
		</if>
		<if test="StandbyA !=null and StandbyA !='' ">
			and StandbyA like '%${StandbyA}%'
		</if>
		<if test="StandbyB !=null and StandbyB !='' ">
			and StandbyB like '%${StandbyB}%'
		</if>
		<if test="StandbyC !=null and StandbyC !='' ">
			and StandbyC like '%${StandbyC}%'
		</if>
		<if test="StandbyD !=null and StandbyD !='' ">
			and StandbyD like '%${StandbyD}%'
		</if>
		<if test="StartTime !=null and StartTime !='' ">
			and AccountDate between cast(#{StartTime} as datetime) and cast(#{EndTime} as datetime)
		</if>
		<if test="DepartmentList !=null and DepartmentList !=''">
			and DepartmentInnerId in (select str2table from StrToTable(#{DepartmentList}))
		</if>
		<if test="AccountTypeInnerId !=null and AccountTypeInnerId !=''">
			and AccountTypeInnerId in (select str2table from StrToTable(#{AccountTypeInnerId}))
		</if>
		<if test="InOrOut !=null and InOrOut !=''">
			and InOrOut in (select str2table from StrToTable(#{InOrOut}))
		</if>
		<if test="Operator !=null and Operator !=''">
			and Operator in (select str2table from StrToTable(#{Operator}))
		</if>
		<if test="Payee !=null and Payee !=''">
			and Payee in (select str2table from StrToTable(#{Payee}))
		</if>
		<if test="RechargeType !=null and RechargeType !=''">
			and RechargeType in (select str2table from StrToTable(#{RechargeType}))
		</if>
		<if test="MoneySource !=null and MoneySource !=''">
			and MoneySource in (select str2table from StrToTable(#{MoneySource}))
		</if>
		and DepartmentInnerId != 42
	</select>

	<!-- 充值统计 -->
	<select id="selectAccountStatistics" parameterType="Map" resultType="AccountStatistics">
		SELECT
		<if test="Type !=null and Type !='' and Type == 'sum'">
			sum(Money) as Money,
		</if>
		<if test="Type !=null and Type !='' and Type == 'count'">
			count(AccountLogInnerId) Money,
		</if>
		AccountTypeInnerId,InOrOut
		<if test="RowName !=null and RowName !='' and RowName == 'RechargeType'">
			,RechargeType as RowName
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'MoneySource'">
			,MoneySource as RowName
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'CompanyInnerId'">
			,DepartmentInnerId as RowName
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Year'">
			,convert(nvarchar(4),AccountDate,120) as RowName
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Month'">
			,convert(nvarchar(7),AccountDate,120) as RowName
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Day'">
			,convert(nvarchar(10),AccountDate,120) as RowName
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Operator'">
			,Operator as RowName
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Payee'">
			,Payee as RowName
		</if>
		FROM AccountLog_User where 1=1
		<if test="UserId !=null and UserId !='' ">
			and UserId like '%${UserId}%'
		</if>
		<if test="UserName !=null and UserName !='' ">
			and UserName like '%${UserName}%'
		</if>
		<if test="Remark !=null and Remark !='' ">
			and Remark like '%${Remark}%'
		</if>
		<if test="StandbyA !=null and StandbyA !='' ">
			and StandbyA like '%${StandbyA}%'
		</if>
		<if test="StandbyB !=null and StandbyB !='' ">
			and StandbyB like '%${StandbyB}%'
		</if>
		<if test="StandbyC !=null and StandbyC !='' ">
			and StandbyC like '%${StandbyC}%'
		</if>
		<if test="StandbyD !=null and StandbyD !='' ">
			and StandbyD like '%${StandbyD}%'
		</if>
		<if test="StartTime !=null and StartTime !='' ">
			and AccountDate between cast(#{StartTime} as datetime) and cast(#{EndTime} as datetime)
		</if>
		<if test="DepartmentList !=null and DepartmentList !=''">
			and DepartmentInnerId in (select str2table from StrToTable(#{DepartmentList}))
		</if>
		<if test="RechargeType !=null and RechargeType !=''">
			and RechargeType in (select str2table from StrToTable(#{RechargeType}))
		</if>
		<if test="MoneySource !=null and MoneySource !=''">
			and MoneySource in (select str2table from StrToTable(#{MoneySource}))
		</if>
		<if test="Operator !=null and Operator !=''">
			and Operator in (select str2table from StrToTable(#{Operator}))
		</if>
		<if test="Payee !=null and Payee !=''">
			and Payee in (select str2table from StrToTable(#{Payee}))
		</if>
		and DepartmentInnerId != 42
		group by
		<if test="RowName !=null and RowName !='' and RowName == 'RechargeType'">
			RechargeType,
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'MoneySource'">
			MoneySource,
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'CompanyInnerId'">
			DepartmentInnerId,
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Year'">
			convert(nvarchar(4),AccountDate,120),
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Month'">
			convert(nvarchar(7),AccountDate,120),
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Day'">
			convert(nvarchar(10),AccountDate,120),
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Operator'">
			Operator,
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Payee'">
			Payee,
		</if>
		AccountTypeInnerId,InOrOut
		<if test="RowName !=null and RowName !='' and RowName == 'RechargeType'">
			order by RechargeType
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'MoneySource'">
			order by MoneySource
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'CompanyInnerId'">
			order by DepartmentInnerId
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Year'">
			order by convert(nvarchar(4),AccountDate,120)
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Month'">
			order by convert(nvarchar(7),AccountDate,120)
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Day'">
			order by convert(nvarchar(10),AccountDate,120)
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Operator'">
			order by Operator
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Payee'">
			order by Payee
		</if>
	</select>

	<!-- 通过主键查询充值优惠 -->
	<select id="selectAccountDiscountByInnerId" parameterType="Integer" resultType="AccountDiscount">
		SELECT
		<include refid="AccountDiscountSql" />
		FROM System_AccountDiscount
		where DelFlag=0 and AccountDiscountInnerId = #{AccountDiscountInnerId}
	</select>

	<!-- 查询充值优惠 -->
	<select id="selectAccountDiscount" parameterType="Map" resultType="AccountDiscount">
		SELECT TOP ${rows}
		<include refid="AccountDiscountSql" />
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY ${sort}
		${order}) AS RowNumber,
		<include refid="AccountDiscountSql" />
		FROM System_AccountDiscount
		where DelFlag=0
		<if test="TimeAnd !=null">
			and (EndTime>#{BeginTime} and #{EndTime}>BeginTime)
		</if>
		<if test="AccountDiscountId !=null and AccountDiscountId !='' ">
			and AccountDiscountId like '%${AccountDiscountId}%'
		</if>
		<if test="AccountDiscountName !=null and AccountDiscountName !='' ">
			and AccountDiscountName like '%${AccountDiscountName}%'
		</if>
		<if test="Remark !=null and Remark !='' ">
			and Remark like '%${Remark}%'
		</if>
		<if test="StandbyA !=null and StandbyA !='' ">
			and StandbyA like '%${StandbyA}%'
		</if>
		<if test="StandbyB !=null and StandbyB !='' ">
			and StandbyB like '%${StandbyB}%'
		</if>
		<if test="StandbyC !=null and StandbyC !='' ">
			and StandbyC like '%${StandbyC}%'
		</if>
		<if test="StandbyD !=null and StandbyD !='' ">
			and StandbyD like '%${StandbyD}%'
		</if>
		) as A
		WHERE RowNumber > ${start}
	</select>

	<!-- 查询未处理充值优惠 -->
	<select id="selectAccountDiscountUntreated" resultType="AccountDiscount" parameterType="String">
		SELECT
		<include refid="AccountDiscountSql" />
		FROM System_AccountDiscount
		where StandbyD = #{StandbyD}
	</select>

	<!-- 查询充值优惠总数 -->
	<select id="selectAccountDiscountTotal" parameterType="Map" resultType="Integer">
		SELECT count(AccountDiscountInnerId) FROM System_AccountDiscount where DelFlag=0
		<if test="TimeAnd !=null">
			and (EndTime>#{BeginTime} and #{EndTime}>BeginTime)
		</if>
		<if test="AccountDiscountId !=null and AccountDiscountId !='' ">
			and AccountDiscountId like '%${AccountDiscountId}%'
		</if>
		<if test="AccountDiscountName !=null and AccountDiscountName !='' ">
			and AccountDiscountName like '%${AccountDiscountName}%'
		</if>
		<if test="Remark !=null and Remark !='' ">
			and Remark like '%${Remark}%'
		</if>
		<if test="StandbyA !=null and StandbyA !='' ">
			and StandbyA like '%${StandbyA}%'
		</if>
		<if test="StandbyB !=null and StandbyB !='' ">
			and StandbyB like '%${StandbyB}%'
		</if>
		<if test="StandbyC !=null and StandbyC !='' ">
			and StandbyC like '%${StandbyC}%'
		</if>
		<if test="StandbyD !=null and StandbyD !='' ">
			and StandbyD like '%${StandbyD}%'
		</if>
	</select>

	<!-- 新增充值优惠 -->
	<insert id="insertAccountDiscount" parameterType="AccountDiscount">
		INSERT INTO System_AccountDiscount
		(
		<include refid="AccountDiscountSqlNoId" />
		)
		VALUES
		(#{AccountDiscountId},#{AccountDiscountName},#{Proportion},#{UserTypeList},#{BeginTime},#{EndTime},#{Remark},0,#{StandbyA},#{StandbyB},#{StandbyC},#{StandbyD})
	</insert>

	<!-- 删除充值优惠 -->
	<update id="deleteAccountDiscount" parameterType="AccountDiscount">
		UPDATE System_AccountDiscount SET
		DelFlag = 1,
		StandbyD = '1'
		WHERE AccountDiscountInnerId = #{AccountDiscountInnerId}
	</update>

	<!-- 修改充值优惠 -->
	<update id="updateAccountDiscount" parameterType="AccountDiscount">
		UPDATE System_AccountDiscount SET
		AccountDiscountId = #{AccountDiscountId},
		AccountDiscountName = #{AccountDiscountName},
		Proportion = #{Proportion},
		UserTypeList = #{UserTypeList},
		BeginTime = #{BeginTime},
		EndTime = #{EndTime},
		Remark = #{Remark},
		StandbyA = #{StandbyA},
		StandbyB = #{StandbyB},
		StandbyC = #{StandbyC},
		StandbyD = #{StandbyD}
		WHERE AccountDiscountInnerId = #{AccountDiscountInnerId}
	</update>

	<!-- 查询账户 -->
	<select id="selectUserTypeDiscount" parameterType="Integer" resultType="Integer">
		SELECT
		Proportion
		FROM Discount_Account
		where UserTypeInnerId = #{UserTypeInnerId} 
	</select>
	
	<select id="selectDiscountAccountByUserType" parameterType="Integer" resultType="DiscountAccount">
		SELECT
		*
		FROM Discount_Account
		where UserTypeInnerId= #{UserTypeInnerId}
	</select>
	
	<select id="selectDiscountAccount" resultType="DiscountAccount">
		SELECT
		*
		FROM Discount_Account
	</select>
	
	<insert id="insertDiscountAccount" parameterType="DiscountAccount">
		INSERT INTO Discount_Account
		(UserTypeInnerId,Proportion,StandbyD)
		VALUES
		(#{UserTypeInnerId},#{Proportion},#{StandbyD})
	</insert>

	<update id="updateDiscountAccount" parameterType="DiscountAccount">
		UPDATE Discount_Account SET
		Proportion = #{Proportion},
		StandbyD = #{StandbyD}
		WHERE UserTypeInnerId = #{UserTypeInnerId}
	</update>

    <select id="selectAccount4" resultType="Integer" parameterType="Integer">
        select AccountInnerId from System_Account where AccountTypeInnerId = 4 and UserInnerId = #{UserInnerId}
    </select>
    
    <select id="selectSettlement" parameterType="Map" resultType="Settlement">
    	select * from System_Settlement where FDateTime between cast(#{StartTime} as datetime) and cast(#{EndTime} as datetime) order by FDateTime asc
    </select>
    
    <select id="selectPayment" parameterType="Map" resultType="Payment">
    	select PaymentInnerId,DateTime,PaymentFlag,AppAName,AppAPM,AppAAM,AppBName,AppBPM,AppBAM,AppCName,AppCPM,AppCAM,AppDName,AppDPM,AppDAM,AppEName,AppEPM,AppEAM,AppFName,AppFPM,AppFAM,AppGName,AppGPM,AppGAM,AppHName,AppHPM,AppHAM
    	from System_Payment where 1=1
    	<if test="StartTime != null and StartTime != '' and EndTime != null and EndTime != '' ">
    		and DateTime between cast(#{StartTime} as datetime) and cast(#{EndTime} as datetime)
    	</if>
    	<if test="PaymentFlag != null and PaymentFlag != '' ">
    		and PaymentFlag in (select str2table from StrToTable(#{PaymentFlag}))
    	</if>
    </select>
    
    <update id="updatePayment" parameterType="Map">
    	update System_Payment set
    	PaymentFlag = 1,
    	OperUser = #{OperUser},
    	OperDT = #{OperDT}
    	where PaymentInnerId = #{PaymentInnerId}
    </update>
    
     <update id="updateAccount" parameterType="Map">
    	update System_Account set
    	Money = #{Money}
    	where AccountInnerId = #{AccountInnerId}
    </update>
    
    <!-- 临时卡充值统计 -->
	<select id="selectLSAccountStatistics" parameterType="Map" resultType="AccountStatistics">
		SELECT
		<if test="Type !=null and Type !='' and Type == 'sum'">
			sum(Money) as Money,
		</if>
		<if test="Type !=null and Type !='' and Type == 'count'">
			count(AccountLogInnerId) Money,
		</if>
		AccountTypeInnerId,InOrOut
		<if test="RowName !=null and RowName !='' and RowName == 'RechargeType'">
			,RechargeType as RowName
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'MoneySource'">
			,MoneySource as RowName
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Year'">
			,convert(nvarchar(4),AccountDate,120) as RowName
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Month'">
			,convert(nvarchar(7),AccountDate,120) as RowName
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Day'">
			,convert(nvarchar(10),AccountDate,120) as RowName
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Operator'">
			,Operator as RowName
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Payee'">
			,Payee as RowName
		</if>
		FROM AccountLog_User where DepartmentInnerId = 42
		<if test="StartTime !=null and StartTime !='' ">
			and AccountDate between cast(#{StartTime} as datetime) and cast(#{EndTime} as datetime)
		</if>
		<if test="RechargeType !=null and RechargeType !=''">
			and RechargeType in (select str2table from StrToTable(#{RechargeType}))
		</if>
		<if test="MoneySource !=null and MoneySource !=''">
			and MoneySource in (select str2table from StrToTable(#{MoneySource}))
		</if>
		<if test="Operator !=null and Operator !=''">
			and Operator in (select str2table from StrToTable(#{Operator}))
		</if>
		<if test="Payee !=null and Payee !=''">
			and Payee in (select str2table from StrToTable(#{Payee}))
		</if>
		group by
		<if test="RowName !=null and RowName !='' and RowName == 'RechargeType'">
			RechargeType,
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'MoneySource'">
			MoneySource,
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'CompanyInnerId'">
			DepartmentInnerId,
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Year'">
			convert(nvarchar(4),AccountDate,120),
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Month'">
			convert(nvarchar(7),AccountDate,120),
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Day'">
			convert(nvarchar(10),AccountDate,120),
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Operator'">
			Operator,
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Payee'">
			Payee,
		</if>
		AccountTypeInnerId,InOrOut
		<if test="RowName !=null and RowName !='' and RowName == 'RechargeType'">
			order by RechargeType
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'MoneySource'">
			order by MoneySource
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Year'">
			order by convert(nvarchar(4),AccountDate,120)
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Month'">
			order by convert(nvarchar(7),AccountDate,120)
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Day'">
			order by convert(nvarchar(10),AccountDate,120)
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Operator'">
			order by Operator
		</if>
		<if test="RowName !=null and RowName !='' and RowName == 'Payee'">
			order by Payee
		</if>
	</select>
	
	<!-- 查询充值记录 -->
	<select id="selectlsAccountLog" parameterType="Map" resultType="AccountLog_User">
		SELECT TOP ${rows}
		<include refid="AccountLogUserSql" />
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY ${sort}) AS RowNumber,
		<include refid="AccountLogUserSql" />
		FROM AccountLog_User
		where 1=1
		<if test="UserId !=null and UserId !='' ">
			and UserId like '%${UserId}%'
		</if>
		<if test="UserName !=null and UserName !='' ">
			and UserName like '%${UserName}%'
		</if>
		<if test="Remark !=null and Remark !='' ">
			and Remark like '%${Remark}%'
		</if>
		<if test="StandbyA !=null and StandbyA !='' ">
			and StandbyA like '%${StandbyA}%'
		</if>
		<if test="StandbyB !=null and StandbyB !='' ">
			and StandbyB like '%${StandbyB}%'
		</if>
		<if test="StandbyC !=null and StandbyC !='' ">
			and StandbyC like '%${StandbyC}%'
		</if>
		<if test="StandbyD !=null and StandbyD !='' ">
			and StandbyD like '%${StandbyD}%'
		</if>
		<if test="StartTime !=null and StartTime !='' ">
			and AccountDate between cast(#{StartTime} as datetime) and cast(#{EndTime} as datetime)
		</if>
		<if test="DepartmentList !=null and DepartmentList !=''">
			and DepartmentInnerId in (select str2table from StrToTable(#{DepartmentList}))
		</if>
		<if test="AccountTypeInnerId !=null and AccountTypeInnerId !=''">
			and AccountTypeInnerId in (select str2table from StrToTable(#{AccountTypeInnerId}))
		</if>
		<if test="InOrOut !=null and InOrOut !=''">
			and InOrOut in (select str2table from StrToTable(#{InOrOut}))
		</if>
		<if test="Operator !=null and Operator !=''">
			and Operator in (select str2table from StrToTable(#{Operator}))
		</if>
		<if test="Payee !=null and Payee !=''">
			and Payee in (select str2table from StrToTable(#{Payee}))
		</if>
		<if test="RechargeType !=null and RechargeType !=''">
			and RechargeType in (select str2table from StrToTable(#{RechargeType}))
		</if>
		<if test="MoneySource !=null and MoneySource !=''">
			and MoneySource in (select str2table from StrToTable(#{MoneySource}))
		</if>
		) as A
		WHERE RowNumber > ${start}
	</select>

	<!-- 查询充值记录总数 -->
	<select id="selectlsAccountLogTotal" parameterType="Map" resultType="Integer">
		SELECT count(AccountLogInnerId) FROM AccountLog_User where 1=1
		<if test="UserId !=null and UserId !='' ">
			and UserId like '%${UserId}%'
		</if>
		<if test="UserName !=null and UserName !='' ">
			and UserName like '%${UserName}%'
		</if>
		<if test="Remark !=null and Remark !='' ">
			and Remark like '%${Remark}%'
		</if>
		<if test="StandbyA !=null and StandbyA !='' ">
			and StandbyA like '%${StandbyA}%'
		</if>
		<if test="StandbyB !=null and StandbyB !='' ">
			and StandbyB like '%${StandbyB}%'
		</if>
		<if test="StandbyC !=null and StandbyC !='' ">
			and StandbyC like '%${StandbyC}%'
		</if>
		<if test="StandbyD !=null and StandbyD !='' ">
			and StandbyD like '%${StandbyD}%'
		</if>
		<if test="StartTime !=null and StartTime !='' ">
			and AccountDate between cast(#{StartTime} as datetime) and cast(#{EndTime} as datetime)
		</if>
		<if test="DepartmentList !=null and DepartmentList !=''">
			and DepartmentInnerId in (select str2table from StrToTable(#{DepartmentList}))
		</if>
		<if test="AccountTypeInnerId !=null and AccountTypeInnerId !=''">
			and AccountTypeInnerId in (select str2table from StrToTable(#{AccountTypeInnerId}))
		</if>
		<if test="InOrOut !=null and InOrOut !=''">
			and InOrOut in (select str2table from StrToTable(#{InOrOut}))
		</if>
		<if test="Operator !=null and Operator !=''">
			and Operator in (select str2table from StrToTable(#{Operator}))
		</if>
		<if test="Payee !=null and Payee !=''">
			and Payee in (select str2table from StrToTable(#{Payee}))
		</if>
		<if test="RechargeType !=null and RechargeType !=''">
			and RechargeType in (select str2table from StrToTable(#{RechargeType}))
		</if>
		<if test="MoneySource !=null and MoneySource !=''">
			and MoneySource in (select str2table from StrToTable(#{MoneySource}))
		</if>
	</select>
	
	<select id="selectAccountLogByAccountLog" parameterType="AccountLog" resultType="Integer">
		SELECT count(AccountLogInnerId) 
		FROM System_AccountLog
		where 1=1
		<if test="UserInnerId !=null and UserInnerId !='' ">
			and UserInnerId = #{UserInnerId}
		</if>
		<if test="AccountInnerId !=null and AccountInnerId !='' ">
			and AccountInnerId = #{AccountInnerId}
		</if>
		<if test="AccountDate !=null and AccountDate !='' ">
			and AccountDate = #{AccountDate}
		</if>
		<if test="Money !=null and Money !='' ">
			and Money = #{Money}
		</if>
	</select>
	
	<!-- 查询人员 -->
	<select id="selectUser" parameterType="Map" resultType="User">
		SELECT TOP ${rows}
		<include refid="UserSql" />
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY ${sort}
		${order}) AS RowNumber,
		UserInnerId,UserId,UserName,UserTypeInnerId,u.CompanyInnerId,u.DepartmentInnerId,Password,AreaList,AppList,StartTime,EndTime,u.DelFlag,u.Remark,IdType,IdNumber,Sex,Birthday,Mobile,Phone,Email,Job,JobLevel,Education,ImageUrl,Nation,Country,NativePlace,Address,UState
		FROM System_UserInfo u left join System_Department d on u.DepartmentInnerId = d.DepartmentInnerId
		where u.DelFlag=0 and UserTypeInnerId = -1 
		<if test="DepartmentList !=null and DepartmentList !=''">
			and d.DepartmentName like '%${DepartmentList}%'
		</if>
		) as A
		WHERE RowNumber > ${start}
	</select>

	<!-- 查询人员总数 -->
	<select id="selectUserTotal" parameterType="Map" resultType="Integer">
		SELECT count(UserInnerId) FROM System_UserInfo u left join System_Department d on u.DepartmentInnerId = d.DepartmentInnerId
		where u.DelFlag=0 and UserTypeInnerId = -1
		<if test="DepartmentList !=null and DepartmentList !=''">
			and d.DepartmentName like '%${DepartmentList}%'
		</if>
	</select>
</mapper>