<!DOCTYPE html>
<html lang="zh-cn" style="height:100%;">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>智能一卡通平台|停车管理系统</title>
#parse("/common/header-meta-link.vm")
	
	<script type="text/javascript">
		function goIndex(){
			top.location.href="index.html";
		}
	</script>
</head>
	
<body style="height:inherit;">
	<div class="container-fluid">
		<p class="nav-bread"><a onClick="goIndex()" style="cursor:pointer;">首页</a> /
			<span>停车管理系统</span></p>
		<div style="width:100%;height: calc(100vh - 60px);">
			<div style="width:15%;height:10%;float:left;margin-left:5%;background:#2E8B57;display:inline;border-radius: 12px;padding:0 8px;text-align:center;">
				<label style="color:white;font-size:20px;margin-top:2%">访客可预约车位</label><br/>
				<span id="fangke" style="color:white;font-size:20px;"></span>
			</div>
			<div style="width:15%;height:10%;float:left;margin-left:5%;background:#43CD80;display:inline;border-radius: 12px;padding:0 8px;text-align:center;">
				<label style="color:white;font-size:20px;margin-top:2%">内部员工可预约车位</label><br/>
				<span id="yuangong" style="color:white;font-size:20px;"></span>
			</div>
			<div style="width:15%;height:10%;float:left;margin-left:5%;background:#2F4F4F;display:inline;border-radius: 12px;padding:0 8px;text-align:center;">
				<label style="color:white;font-size:20px;margin-top:2%">异常车位</label><br/>
				<span id="yichang" style="color:white;font-size:20px;"></span>
			</div>
			<div style="width:15%;height:10%;float:left;margin-left:5%;background:#00BFFF;display:inline;border-radius: 12px;padding:0 8px;text-align:center;">
				<label style="color:white;font-size:20px;margin-top:2%">当天占用车位</label><br/>
				<span id="zhanyong" style="color:white;font-size:20px;"></span>
			</div>
			<div style="width:90%;height:43%;float:left;margin-left:5%;margin-top:1%;display:inline;">
				<div style="width:100%;height:10%;float:left;background:#2E8B57">
					<label style="color:white;font-size:20px;margin-left:2%">临时车预约进出记录</label>
				</div>
				<div style="width:100%;height:90%;float:left;">
					<table id="lstable"  class="easyui-datagrid" style="height:320px"></table>
				</div>
			</div>
			<div style="width:90%;height:43%;float:left;margin-left:5%;margin-top:1%;display:inline;">
				<div style="width:100%;height:10%;float:left;background:#2E8B57">
					<label style="color:white;font-size:20px;margin-left:2%">访客车预约进出记录</label>
				</div>
				<div style="width:100%;height:90%;float:left;">
					<table id="yytable" class="easyui-datagrid" style="height:320px"></table>
				</div>
			</div>
		<div>
	</div>
	<script src="js/tcxt/shouye.js"></script>
</body>
</html>
