<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>智能一卡通平台|停车管理系统</title>
 #parse("/common/header-meta-link.vm")
 <style type="text/css">
 .row label{width:70px;}
 </style>
 <script type="text/javascript">
if('$!operatorSession.TableSize'){
var TableSize = '$!operatorSession.TableSize';
}else{
 top.location='login.html';
}
</script>
</head>
<body>
<div class="container-fluid">
  <p class="nav-bread navbar-fixed-top">
    <a onClick="goIndex()" style="cursor:pointer;">首页</a>
    /
    <a href="tccright.html">停车管理系统</a>
    /<span>预约车通行记录</span>
  </p>
  <div class="row"><div class="col-sm-12 border1 text-right">
      <button type="button" class="btn btn-link" id="select">查询</button>
	  <!--<button type="button" class="btn btn-link" id="insert">提前结束</button>
      <button type="button" class="btn btn-link">导出</button>-->
    </div></div>
  <div class="row" style="margin-top:20px;">
    <div class="col-sm-3">
      <label>车牌号：</label>
      <input type="text" class="form-control" id="sCarNumber" name="CarNumber" style="height:30px">
    </div>
    <div class="col-sm-3">
      <label>姓名：</label>
      <input type="text" class="form-control" id="sUserName" name="UserName" style="height:30px">
    </div>
    <div class="col-sm-3">
      <label>开始时间：</label>
      <input type="text" class="form-control" id="sStartTime" name="StartTime" style="height:30px">
    </div>
    <div class="col-sm-3">
      <label>结束时间：</label>
      <input type="text" class="form-control" id="sEndTime" name="EndTime" style="height:30px">
    </div>
    
  </div>
  <hr class="w98">
  <div class="container-fluid" style="margin-top:5px;padding:0 15px 15px;">
	<table id="table" class="easyui-datagrid" style="height:600px">
	</table>
  </div>
</div>

<script src="js/tcxt/yuyuechejilu.js"></script>
</body>
</html>
