<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>智能一卡通平台|停车管理系统</title>
 #parse("/common/header-meta-link.vm")
 <style type="text/css">
 .row label{width:70px;}
 </style>
 <script type="text/javascript">
if('$!operatorSession.TableSize'){
var TableSize = '$!operatorSession.TableSize';
}else{
 top.location='login.html';
}
</script>
</head>
<body>
<div class="container-fluid">
  <p class="nav-bread navbar-fixed-top">
    <a onClick="goIndex()" style="cursor:pointer;">首页</a>
    /
    <a href="tccright.html">停车管理系统</a>
    /<span>预约车辆管理</span>
  </p>
  <div class="row"><div class="col-sm-12 border1 text-right">
      <button type="button" class="btn btn-link" id="select">查询</button>
	  <button type="button" class="btn btn-link" id="insert">预约</button>
	  <!--<button type="button" class="btn btn-link" id="StopCharging">提前结束</button>-->
      <button type="button" class="btn btn-link" id="export">导出</button>
      <button type="button" class="btn btn-link" id="changeState">修改状态</button>
    </div></div>
  <div class="row" style="margin-top:20px;">
    <div class="col-sm-3">
      <label>车牌号：</label>
      <input type="text" class="form-control" id="sCarNumber" name="CarNumber" style="height:30px">
    </div>
    <div class="col-sm-3">
      <label>开始时间：</label>
      <input type="text" class="form-control" id="sStartTime" name="StartTime" style="height:30px">
    </div>
    <div class="col-sm-3">
      <label>结束时间：</label>
      <input type="text" class="form-control" id="sEndTime" name="EndTime" style="height:30px">
    </div>
    
  </div>
  <hr class="w98">
  <div class="container-fluid" style="margin-top:5px;padding:0 15px 15px;">
	<table id="table" class="easyui-datagrid" style="height:600px">
	</table>
  </div>
</div>

<!--添加预约弹出框-->
<div class="modal fade" id="insertDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">添加临时预约车信息</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="insertForm">
    				<div class="form-group">
						<label class="col-sm-3 control-label">*预约人姓名：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iUserName" name="UserName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*预约人公司：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iCompanyName" name="CompanyName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*车牌号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iCarNumber" name="CarNumber">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*预约类型：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iCarTypeInnerId" name="CarTypeInnerId" style="width:250px;height:30px" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*是否收费：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iGetMoney" name="GetMoney" style="width:250px;height:30px" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*拜访事由：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iVisThing" name="VisThing">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*进入时间：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iStartTime" name="StartTime">
						</div>
					</div>
					<div class="form-group" id="outTime">
						<label class="col-sm-3 control-label">*离开时间：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="iEndTime" name="EndTime">
						</div>
					</div>
					<div class="form-group" id="shoufei">
						<span style="color:red;padding:130px;"></span>
					</div>
					<div class="form-group" id="bushou">
						<span style="color:red;padding:120px;"></span>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="button" class="btn btn-primary" id="insertSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>

<!--修改预约状态弹出框-->
<div class="modal fade" id="updateStateDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">修改预约状态</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="VisStateForm">
    				<div class="form-group">
						<label class="col-sm-3 control-label">*预约人姓名：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uUserName" name="UserName" disabled>
							<input type="hidden" class="form-control inp" id="uRecordInnerId" name="RecordInnerId" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*预约人公司：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uCompanyName" name="CompanyName" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*车牌号：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uCarNumber" name="CarNumber" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*预约类型：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uCarType" name="CarTypeInnerId" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*协助人：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uName" name="UserName" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*协助部门：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uDepName" name="DepName" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">*预约时间：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uVisDate" name="VisDate" disabled>
						</div>
					</div>
					<div class="form-group" id="outTime">
						<label class="col-sm-3 control-label">*预约状态：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uVisState" name="VisState" style="width:250px;height:30px" >
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="button" class="btn btn-primary" id="updateStateSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myXiazai">
    <div class="modal-dialog">
        <div class="modal-content"> 
            <div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal"> 
    				<span aria-hidden="true">&times;</span>
    				<span class="sr-only">Close</span>
    			</button>
    			<h4 class="modal-title">导出成功</h4>
			</div>
            <div class="modal-body">
                <div id="xiazai">
    			</div>
            </div>
		</div>
    </div>
</div>

<script src="js/tcxt/yuyueche.js"></script>
</body>
</html>
