@charset "utf-8";
/* CSS Document */
html{height:100%}
body{min-height:100%;font-size:16px;
	background: url(../images/login/bg.png) no-repeat;background-size: cover; } 

/*登录内容*/
.login-wrap{width:1289px;height: 708px;position: absolute; top:50%;margin-top:-394px;
	left: 50%;margin-left: -644px;}
.login-wrap .clear-both{clear: both;}
.login-wrap .content-l{float: left;width:708px;height: 708px;position: relative;
	background: url(../images/login/ball.png) no-repeat;
    animation: 24s  rotate linear infinite;
	-webkit-animation:24s  rotate linear infinite;}
@keyframes rotate {
    0%{}
    100%{transform:rotate(360deg);}
}
@-webkit-keyframes rotate {
    0%{}
    100%{transform:rotate(360deg);}
}
.login-wrap .logo{width:319px;height: 139px;
	background: url(../images/login/logo.png) no-repeat;
	position: absolute;top: 255px;left: 201px;}
.login-wrap .content-r{width: 437px;height: 448px;background: #fff;float: left;
	-moz-box-shadow:0px 3px 18px 0px rgba(13,57,98,0.2);
	-webkit-box-shadow:0px 3px 18px 0px rgba(13,57,98,0.2);
	box-shadow:0px 3px 18px 0px rgba(13,57,98,0.2);
	-moz-border-radius:11px; 
	-webkit-border-radius:11px;
	 border-radius:11px;margin-top:130px;margin-left: 72px;text-align: center;}
.login-wrap .content-r .title{width: 234px;height: 31px;margin: 66px auto 52px;
	background: url(../images/login/title.png) no-repeat;}
.login-wrap .content-r .txt-input{width: 335px;height: 44px; border:1px solid #319AF2;color: #D8E1F0;
	padding: 0px 21px;background-color:#fff;}
.login-wrap .content-r .txt-input:focus{color:#000; }
.login-wrap .content-r .txt-input.pwd{margin-top: 41px;}
.login-wrap .content-r .error-info{font-size: 14px;color: #f13131;margin-top: 15px;height: 20px;line-height: 20px;}
.login-wrap .btn-singin{width: 244px;height: 48px;font-size: 16px;color: #319AF2;
	border:2px solid #319AF2;background: #fff;margin-top: 20px;}
/*登录内容*/

.footer {position:absolute;bottom: 30px;left: 50%;margin-left: -106px;}
.footer p {font-size:14px; color:#fff;}