<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>智能一卡通平台|消费管理系统</title>
 #parse("/common/header-meta-link.vm")
 <style type="text/css">
 .row label{width:70px;}
 </style>
 <script type="text/javascript">
if('$!operatorSession.TableSize'){
var TableSize = '$!operatorSession.TableSize';
}else{
 top.location='login.html';
}
</script>
 <div id="readobject" style="display: none" >
 <OBJECT
	  classid="clsid:CEA82072-043E-4023-BF5E-4AAE4AF1454B" 
	  width=100
	  height=100
	  align=center
	  hspace=0
	  vspace=0
	  id = SmartID_zr	  
>
  </OBJECT>
 </div>
</head>
<body>
<div class="container-fluid">
  <p class="nav-bread navbar-fixed-top">
    <a onClick="goIndex()" style="cursor:pointer;">首页</a>
    /
    <a href="xfglright.html">消费管理系统</a>
    /<span>财务/商户结算</span>
  </p>
  <div class="row"><div class="col-sm-12 border1 text-right">
      <button type="button" class="btn btn-link" id="select">查询</button>
	  <button type="button" class="btn btn-link" id="kaipiao">付款</button>
    </div></div>
  <div class="row" style="margin-top:20px;">
	<div class="col-sm-3">
      <label>开始时间：</label>
      <input type="text" class="form-control" id="sStartTime" name="StartTime">
    </div>
	<div class="col-sm-3">
      <label>结束时间：</label>
      <input type="text" class="form-control" id="sEndTime" name="EndTime">
    </div>
    <div class="col-sm-3">
      <label>付款标识：</label>
      <select  multiple="multiple" id="payFlag" name="PaymentFlag" style="height:28px; width:170px;">
		<option value="0">未付款</option>
		<option value="1">已付款</option>
	  </select>
    </div>
  </div>
  <hr class="w98">
  <div class="container-fluid" style="margin-top:5px;padding:0 15px 15px;">
	<table id="table"   style="height:450px">
	</table>
  </div>
</div>
</div>

<script src="js/zhywzx/payment.js"></script>
</body>
</html>
