<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>智能一卡通平台|账户业务中心</title>
 #parse("/common/header-meta-link.vm")
  <script type="text/javascript">
if('$!operatorSession.TableSize'){
var TableSize = '$!operatorSession.TableSize';
}else{
 top.location='login.html';
}
</script>
<div id="readobject" style="display: none" >
 <OBJECT
	  classid="clsid:CEA82072-043E-4023-BF5E-4AAE4AF1454B" 
	  width=100
	  height=100
	  align=center
	  hspace=0
	  vspace=0
	  id = SmartID_zr	  
>
  </OBJECT>
 </div>

</head>
<body>
<div class="container-fluid navbar-fixed-top">
      <p class="nav-bread">
        <a onClick="goIndex()" style="cursor:pointer;">首页</a>
        /
        <a href="zhywright.html">账户业务中心</a>
        /<span>读卡充/减值</span>
      </p>
      <ul class="nav nav-tabs" role="tablist" id="tab-list">
    		<li class="active"><a href="#RechargeDiv" role="tab" data-toggle="tab">充值</a></li>
    		<li><a href="#DecreaseDiv" role="tab" data-toggle="tab">减值</a></li>
      </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="RechargeDiv">
          <div class="row">
			<div class="col-sm-3">
              <label>用户姓名：</label>
			  <input type="text" class="form-control" id="rUserName" name="UserName" readonly="readonly">
              <input type="hidden" class="form-control" id="rAccountInnerId" name="AccountInnerId" readonly="readonly">
			  <input type="hidden" class="form-control" id="rFavorableAccountInnerId" name="FavorableAccountInnerId" readonly="readonly">
            </div>
			<div class="col-sm-3">
              <label>用户编号：</label>
              <input type="text" class="form-control" id="rUserId" name="UserId"readonly="readonly">
            </div>
			<!--<div class="col-sm-3">
              <label>所属部门：</label>
              <input type="text" class="form-control" id="rDepartmentName" name="DepartmentName"readonly="readonly">
            </div>-->
			<div class="col-sm-3">
              <label>所属公司：</label>
              <input type="text" class="form-control" id="rDepartmentName" name="DepartmentName"readonly="readonly">
            </div>
			<div class="col-sm-3">
              <label>补贴余额：</label>
              <input type="text" class="form-control" id="rSubsidy" name="Subsidy"readonly="readonly">
            </div>
			<div class="col-sm-3">
              <label>现金余额：</label>
              <input type="text" class="form-control" id="rBeforeMoney" name="BeforeMoney"readonly="readonly">
            </div>
			<div class="col-sm-3">
              <label>充值金额：</label>
              <input type="text" class="form-control" id="rMoney" name="Money" >
            </div>
			<div class="col-sm-3">
              <label>实际到账：</label>
              <input type="text" class="form-control" id="rFavorableMoney" name="FavorableMoney" readonly="readonly">
            </div>
			<div class="col-sm-3">
              <label>备注信息：</label>
              <input type="text" class="form-control" id="rRemark" name="Remark"  onblur="value=value.replace(/[^\.\w\u4E00-\u9FA5]/g, '')" >
            </div>
            <div class="col-sm-3">
              <label>资金来源：</label>
              <select class="form-control" id="rMoneySource" name="MoneySource">
    			<option value="0">现金</option>
    			<option value="1">微信</option>
    			<option value="2">支付宝</option>
    			<option value="3">银行卡</option>
    			<option value="4">支票</option>
    			<option value="5">空充</option>
			</select>
            </div>
			<div class="col-sm-3">
              <label>到账系数：</label>
              <input type="text" class="form-control" id="rProportion" name="Proportion" readonly="readonly">
            </div>
          </div>
          <hr class="w98">
          <div class="row" style="margin-top:5px;">
        	<div class="col-sm-12 text-center">
        	  <button type="button" class="btn btn-primary" id="rReadCard">读卡</button>&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-primary" id="Recharge">充值</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-primary" id="tongbu">同步人员</button>
            </div>
          </div>
        </div>
		<div class="tab-pane" id="DecreaseDiv">
          <div class="row">
            <div class="col-sm-3">
              <label>用户姓名：</label>
			  <input type="text" class="form-control" id="dUserName" name="UserName" readonly="readonly">
              <input type="hidden" class="form-control" id="dAccountInnerId" name="AccountInnerId" readonly="readonly">
            </div>
			<div class="col-sm-3">
              <label>用户编号：</label>
              <input type="text" class="form-control" id="dUserId" name="UserId"readonly="readonly">
            </div>
			<!--div class="col-sm-3">
              <label>所属部门：</label>
              <input type="text" class="form-control" id="dDepartmentName" name="DepartmentName"readonly="readonly">
            </div>-->
			<div class="col-sm-3">
              <label>所属公司：</label>
              <input type="text" class="form-control" id="dDepartmentName" name="DepartmentName"readonly="readonly">
            </div>
			<div class="col-sm-3">
              <label>补贴余额：</label>
              <input type="text" class="form-control" id="dSubsidy" name="Subsidy"readonly="readonly">
            </div>
			<div class="col-sm-3">
              <label>现金余额：</label>
              <input type="text" class="form-control" id="dBeforeMoney" name="BeforeMoney"readonly="readonly">
            </div>
			<div class="col-sm-3">
              <label>减值金额：</label>
              <input type="text" class="form-control" id="dMoney" name="Money">
            </div>
			<div class="col-sm-3">
              <label>备注信息：</label>
              <input type="text" class="form-control" id="dRemark" name="Remark"  onblur="value=value.replace(/[^\w\u4E00-\u9FA5]/g, '')" >
            </div>
          </div>
          <hr class="w98">
          <div class="row" style="margin-top:5px;">
        	<div class="col-sm-12 text-center">
        	  <button type="button" class="btn btn-primary" id="dReadCard">读卡</button>
              <button type="button" class="btn btn-primary" id="Decrease">减值</button>
            </div>
          </div>
        </div>
    </div>
</div>
<script src="js/zhywzx/readCardRecharge.js"></script>
</body>
</html>
