<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhsr.smartid.util.dao.UtilMapper">
	<!-- 校验数据唯一，统一调用此方法 -->
	<select id="remoteColumn" parameterType="Map" resultType="Integer">
		SELECT
		count(*)
		FROM ${TableName}
		WHERE ${InnerIdName} != ${InnerId}
		and ${ColumnName} = '${Column}' and DelFlag = 0
	</select>

	<!-- 删除数据（软删除）统一调用此方法 -->
	<update id="delete" parameterType="Map">
		UPDATE ${TableName} SET
		DelFlag = 1
		WHERE ${InnerIdName} = ${InnerId}
	</update>
	
	<insert id="insertJiesuanPingzheng" parameterType="Map">
		insert into System_Settlement (FDateTime,CashMoney,SubsidyMoney,NumberMoney,CardMoney,PeopleTotal) values (#{FDateTime},#{CashMoney},#{SubsidyMoney},#{NumberMoney},#{CardMoney},#{PeopleTotal})
	</insert>
	
	<select id="selectJiesuanPingzheng" parameterType="Map" resultType="Integer">
		select count(CashMoney) from System_Settlement where FDateTime = #{FDateTime}
	</select>
	
	<update id="updateJiesuanPingzheng" parameterType="Map">
		update System_Settlement set
		CashMoney = #{CashMoney},
		SubsidyMoney = #{SubsidyMoney},
		NumberMoney = #{NumberMoney},
		CardMoney = #{CardMoney},
		PeopleTotal = #{PeopleTotal}
		where FDateTime = #{FDateTime}
	</update>
	
</mapper>