<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>停车管理系统|配置管理中心</title>
 #parse("/common/header-meta-link.vm")
  <script type="text/javascript">
if('$!operatorSession.TableSize'){
var TableSize = '$!operatorSession.TableSize';
}else{
 top.location='login.html';
}
</script>
</head>
<body>
<div class="container-fluid">
  <p class="nav-bread navbar-fixed-top">
    <a onClick="goIndex()" style="cursor:pointer;">首页</a>
    /
    <a href="pzglright.html">配置管理中心</a>
    /<span>页面配置</span>
  </p>
  <div class="row">
  	<div class="col-sm-12 text-right border1">
	  <button type="button" class="btn btn-link" id="update">修改</button>
    </div>
  </div>
  <div class="row" style="margin-top:20px;}>
    <div class="col-sm-3">
      <label>页面：</label>
      <select class="form-control" id="sPage" name="Page">
			<option value="area">区域管理</option>
			<option value="app">应用管理</option>
			<option value="operator">操作员管理</option>
			<option value="userType">人员类型管理</option>
			<option value="sysTerminal">设备管理</option>
			<option value="company">公司管理</option>
			<option value="department">部门管理</option>
			<option value="user">人员管理</option>
			<option value="mark">标识管理</option>
			<option value="merchant">商户管理</option>
			<option value="conType">消费类型管理</option>
			<option value="conTerminal">消费设备管理</option>
	  </select>
    </div>
  </div>
  <hr class="w98">
  <div class="container-fluid" style="margin-top:20px;padding:0 15px 15px;">
	<table id="table" class="easyui-datagrid"  style="height:450px">
	</table>
  </div>
</div>


	
<!--修改弹出框-->
<div class="modal fade" id="updateDiv"><!--弹出框-->
	<div class="modal-dialog"><!--弹出的对话框-->
		<div class="modal-content"><!--弹出对话框的内容-->
  			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> 
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">修改配置</h4>
			</div>
  			<div class="modal-body">
    			<form class="form-horizontal" role="form" id="updateForm">
    				<div class="form-group">
						<label class="col-sm-3 control-label">初始名称：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uInitialName" name="InitialName" readonly="true" >
							<input type="hidden" class="form-control inp" id="uPage" name="Page">
							<input type="hidden" class="form-control inp" id="uProperty" name="Property">
						</div>
					</div>
    				<div class="form-group">
						<label class="col-sm-3 control-label">是否启用：</label>
						<div class="col-sm-9">
							<select class="form-control" id="uEnabled" name="Enabled" style="width:250px;">
								<option value="0">启用</option>
								<option value="1">禁用</option>
							</select>
						</div>
					</div>
    				<div class="form-group">
						<label class="col-sm-3 control-label">名称：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uName" name="Name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">长度：</label>
						<div class="col-sm-9">
							<input type="text" class="form-control inp" id="uLength" name="Length">
						</div>
				    </div>
					<div class="form-group">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-primary" id="updateSubmit">保存</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
						</div>
					</div>
				</form>
  			</div>
		</div>
	</div>
</div>
<!--弹出框结束-->

<script src="js/pzglzx/configure.js"></script>
</body>
</html>
