<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>停车管理系统|配置管理中心</title>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/sidebar.css" rel="stylesheet">
		<!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
        <![endif]-->
	</head>
	
	<body>
		<div class="container-fluid">
			<ul class="list-unstyled">
				<li class="li_title">配置管理中心</li>
				<li id="101">
					<a href="systemConfigure.html" target="mainFrame">
						<span id="title">系统配置</span>
					</a>
				</li>
				<li id="108">
					<a href="myInfo.html" target="mainFrame">
						<span id="title">我的信息</span>
					</a>
				</li>
				<li id="102"> 
					<a href="configure.html" target="mainFrame">
						<span id="title">页面配置</span>
					</a>
				</li>
				<li id="103">
					<a href="area.html" target="mainFrame">
						<span id="title">区域管理</span>
					</a>
				</li>
				<li id="104">
					<a href="app.html" target="mainFrame">
						<span id="title">应用管理</span>
					</a>
				</li>
				<li id="105">
					<a href="operator.html" target="mainFrame">
						<span id="title">操作员管理</span>
					</a>
				</li>
				<li id="106">
					<a href="userType.html" target="mainFrame">
						<span id="title">人员类型</span>
					</a>
				</li>
				#*<li><a href="tongbupeizhi.html" target="mainFrame">
						<span id="title">同步配置</span>
					</a>
				</li>*#
			</ul>
		</div>
		<script src="jquery/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			var pageList =  '$!operatorSession.PageList';
			if(pageList.indexOf("101") != -1){
				document.getElementById("101").setAttribute("style","display:''");
			}else{
				document.getElementById("101").setAttribute("style","display:none");
			}if(pageList.indexOf("102") != -1){
				document.getElementById("102").setAttribute("style","display:''");
			}else{
				document.getElementById("102").setAttribute("style","display:none");
			}if(pageList.indexOf("103") != -1){
				document.getElementById("103").setAttribute("style","display:''");
			}else{
				document.getElementById("103").setAttribute("style","display:none");
			}if(pageList.indexOf("104") != -1){
				document.getElementById("104").setAttribute("style","display:''");
			}else{
				document.getElementById("104").setAttribute("style","display:none");
			}if(pageList.indexOf("105") != -1){
				document.getElementById("105").setAttribute("style","display:''");
			}else{
				document.getElementById("105").setAttribute("style","display:none");
			}if(pageList.indexOf("106") != -1){
				document.getElementById("106").setAttribute("style","display:''");
			}else{
				document.getElementById("106").setAttribute("style","display:none");
			}if(pageList.indexOf("108") != -1){
				document.getElementById("108").setAttribute("style","display:''");
			}else{
				document.getElementById("108").setAttribute("style","display:none");
			}
			
		</script>
		<script>
			$(function(){
				$(".list-unstyled li a").click(function(){	
		           $(this).addClass("a_active").parent().siblings().find("a").removeClass("a_active");
		           $(this).css({"border-left":"4px solid #245cc8","border-right":"4px solid #052e7c"}).parent().siblings().find("a").css({"border-left":"4px solid #21458f","border-right":"4px solid #21458f"});
				})

				var sidebar_h = $(window).height();
				$("#sidebar-h").css("height",sidebar_h);
			})
		</script>
	</body>
</html>
