<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>停车管理系统|配置管理中心</title>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/content.css" rel="stylesheet">
		<!--[if lt IE 9]>
        <script src="bootstrap/js/html5shiv.js"></script>
		<script src="bootstrap/js/respond.min.js"></script>
        <![endif]-->
	    <script src="jquery/jquery.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			function goIndex(){
				top.location.href="index.html";
			}
		</script>
	</head>
	
	<body>
		<div class="container-fluid">
			<p class="nav-bread"><a onClick="goIndex()" style="cursor:pointer;">首页</a> /
				<span>配置管理中心</span></p>
			<div style="background-image:url(images/new/pzglzx/pzglzx.png);width:1100px; height:500px; ">
				<div style="padding-top:200px;padding-left:150px">
					<span style="font-size:20px">
						配置管理中心：<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:balck">配置管理中心是智能一卡通管理平台的基石，是对系统运行的基本参数配置。主要功能包括：系统配置、我的信息、页面配置、区域管理、应用管理、操作员管理和人员类型<br/></span>
						<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:balck">系统配置：配置系统的基本参数，默认密码、最大限额、以及超时时间等<br/></span>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:balck">我的信息：修改表格显示行数，以及登录密码<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:balck">页面配置：启用、禁用或修改页面显示的字段信息<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:balck">区域管理：管理所有的区域信息，包括增加、修改、删除信息<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:balck">应用管理：管理所有的应用信息，包括增加、修改、删除信息<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:balck">操作员管理：管理所有的操作员以及权限，包括增加、修改、删除信息<br/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:balck">人员类型：管理所有的人员类型，包括增加、修改、删除信息<br/>-->
					</span>
				</div>
			</div>
		</div>
	</body>
</html>
