<!DOCTYPE html>
	<head>
		<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
		<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
		<META HTTP-EQUIV="expires" CONTENT="0">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>停车管理系统|人事业务中心</title>
         #parse("/common/header-meta-link.vm")  
	</head>
	 
	 #if($backLogin)
	  <script>
	   top.location='$!backLogin'
	  </script> 
	#end
	 
<script type="text/javascript">
function myFunction() {
if(!('$!operatorSession.OperatorId')){
top.location='login.html'
}
}

</script>
    #if($noPage)
		 <div>
	    <script>
           $.messager.alert('权限信息','$!noPage');
         </script> 
         <div style="margin-top:-20px">
         #parse("/rsywzx/rsywright.vm")
         </div>
       </div>
      
	#else
	<frameset rows="70,*" cols="*" framespacing="0" frameborder="no" border="0">
		<frame src="rsywtop.html" name="topFrame" scrolling="no" noresize="noresize" id="topFrame"/>
		<frameset rows="*" cols="200,*" framespacing="0" frameborder="no" border="0">
			<frame src="rsywsidebar.html" name="leftFrame" scrolling="no" noresize="noresize" id="leftFrame"/>
			<frame src="rsywright.html" name="mainFrame" id="mainFrame" scrolling="auto" onload='myFunction()'/>
		</frameset>
	</frameset>
	#end
	<noframes>
		<body>您的浏览器无法处理框架！</body>
	</noframes>
	
</html>
