<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>智能一卡通平台|人事业务中心</title>
 #parse("/common/header-meta-link.vm")
 <script type="text/javascript" src="jquery/uploadify/jquery.uploadify.min.js"></script>
 <script type="text/javascript" src="jquery/uploadify/bootbox.min.js"></script>
  <link href="jquery/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
  <link href="jquery/uploadify/xiao_upload.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript">
if('$!operatorSession.TableSize'){
var TableSize = '$!operatorSession.TableSize';
}else{
 top.location='login.html';
}
</script>
</head>
<body>
<div class="container-fluid">
  <p class="nav-bread navbar-fixed-top">
    <a onClick="goIndex()" style="cursor:pointer;">首页</a>
    /
    <a href="rsywright.html">人事业务中心</a>
    /<span>图片导入</span>
  </p>
  <div class="col-md-10 top54">
          <div class="postPic">
              <div class="pic_header">
                   <span class="pic_info">共 <span class="pic_total">0</span> 张，还能上传 <span class="pic_limit">0</span> 张（按住ctrl可选择多张，每张最大不能超过10MB）</span>
              </div>
			  <form class="form-horizontal" role="form" id="insertFace"  enctype="multipart/form-data">
                   <div class="pic_list"></div>
                   <input type="file" name="file" id="file">
                   <input type="button"  class="btn btn-primary" name="clearAll" id="clearAll" value="全部清空">
               </form>   
           </div>
          <script src="js/rsywzx/userImage.js"></script>
           <script>
               $(function(){
　　　　　　　　　　　　//初始化参数
                    feng_pic.init('jquery/uploadify/img/uploadify.swf','user/imageImport.html',25);
                });
           </script>
       </div>
</div>
</div>



</body>
</html>
