@charset "utf-8";
/* CSS Document */

body {font-family:'微软雅黑'; font-size:14px; color:#666;overflow:scroll;overflow-x:hidden;}
.container-fluid {background-color:#fefefe; padding:0;}
p.nav-bread {background-color:#fff; width:100%; height:47px; line-height:47px; border-top:1px solid #f0f0f1;
 border-bottom:1px solid #f0f0f1; padding-left:20px;}
p.nav-bread a {text-decoration:underline;}
p.nav-bread span {color:#bababb;}
div.content {margin-left:20px;}
.top54{margin-top:54px}

/*人员管理样式*/
div.search{width:15%; margin-right:20px; margin-top:-50px;}
ul.peoples li{list-style:none; float:left; width:7%; margin-left:2%;padding-bottom:10px; }
table.tab{text-align:center; width:98%;}
table.tab tr td{padding:0px;}
table.tab tr td:hover{background-color:#007aff; cursor:pointer;}
table.tab tr td a{display:block; width:100%; padding:8px;}
table.tab tr td a:hover{color:#fff; display:block; text-decoration:none; width:100%; height:100%;}
table.tab2{width:90%; margin-left:20px;}
ul.pags{margin-right:30px;}

div.modal input.inp{width:60%;}
div.modal select{width:60%;}

/*配置管理中心的操作员管理样式*/
table.list_caozuoyuan{width:98%; text-align:center;}
table.list_caozuoyuan thead tr th{text-align:center; border-bottom:0px;}
table.list_caozuoyuan tr td a{margin-left:5px;}
a.add{margin-left:20px;}

/*配置管理中心--个人信息*/
#infoForm span {padding-top:6px;}
#infoForm .sel {margin-left:15px; width:200px;margin-top:6px;}
#updateForm input,#passForm input{width:250px;}
.row1 {margin-left:20px;}

/*配置管理中心--终端管理样式*/
table.list_zhongduan{width:98%; text-align:center;}
table.list_zhongduan thead tr th{text-align:center; border-bottom:0px;}
table.list_zhongduan tr td a{margin-left:5px;}
a.add_zd{margin-left:20px;}

table_click{background-color:#edf4fc;}

/*配置管理中心--权限管理列表样式*/
.quanxian_list {margin:0;}
.quanxian_list a.a_block {display:block; height:160px; line-height:160px; text-decoration:none; color:#333; font-size:18px; text-align:center;}
.quanxian_list a.a_block img {display:inline-block; margin-right:10%; width:140px; height:140px;}
.quanxian_list .col-md-6 { padding:0;width:45%; margin-left:3%; margin-top:2%;}
@media screen and (min-width:750px) and (max-width:970px){
	.quanxian_list .col-md-6 { margin-top:30px; padding:0; width:45%; margin-left:3%;}
	}
@media only screen and (max-width:750px) {
	.quanxian_list .col-md-6 {margin-top:30px; width:93%;}
	}
div.cen a table{color:#666;}
div.cen a{text-decoration:none;}


/*账户业务中心的个人账户*/
ul.caozuo li{list-style:none; float:left; width:9%; margin-left:1%;padding-bottom:10px; text-align:center;}
label.title{margin-left:2%;}
table.caozuo_list{margin-left:4%; width:95%;}
table.caozuo_list tr td{border-top:0px; padding-left:10px;}
table.caozuo_list input{width:60%;}
table.tab_list{width:98%;}
table.tab_list tr th{text-align:center; border-bottom:0px;}
/*账户业务中心的个人账户*/

/*密码设置管理样式*/
input.pass{width:30%;}
div.pass{padding-top:30px;}
/*密码设置管理样式*/

/*配置管理中心--标识管理样式*/
.biaozhi_list {margin:0;}
.biaozhi_list .bz_item {height:160px;color:#333; font-size:18px; text-align:center;}
.biaozhi_list .bz_item img {display:inline-block; margin-right:10%; width:140px; height:140px;}
.biaozhi_list .conForm {display:inline-block;}
.biaozhi_list .conForm .bz_name {display:block;}
.biaozhi_list .conForm .bz_shebei {display:block; margin-bottom:-15px;}
.biaozhi_list .conForm button { margin-bottom:-70px; padding:5px 18px;}
.biaozhi_list .col-md-6 { padding:0;margin-top:2%;}
@media screen and (min-width:750px) and (max-width:970px){
	.biaozhi_list .col-md-6 { margin-top:30px; padding:0; }
	}
@media only screen and (max-width:750px) {
	.biaozhi_list .col-md-6 {margin-top:30px;}
	}
	
	
/*配置管理中心--账户管理样式*/
.zhanghu_list {margin:0;}
.zhanghu_list .zh_item {height:160px;color:#333; font-size:18px; text-align:center;}
.zhanghu_list .zh_item img {display:inline-block; margin-right:10%; width:140px; height:140px;}
.zhanghu_list .conForm {display:inline-block;}
.zhanghu_list .conForm .zh_name {display:block;}
.zhanghu_list .conForm button { margin-bottom:-60px;}
.zhanghu_list .col-md-6 { padding:0;margin-top:2%;}
@media screen and (min-width:750px) and (max-width:970px){
	.biaozhi_list .col-md-6 { margin-top:30px; padding:0;}
	}
@media only screen and (max-width:750px) {
	.biaozhi_list .col-md-6 {margin-top:30px;}
	}
	
/*账户业务中心 --批量账户管理*/
.piliang .tab-content {margin-top:50px;}
.piliang .nav {margin-top:10px;}
.piliang .form-control {display:inline-block; width:300px;}
.piliang .table td {border-top:0;}
.piliang .tab-pane {margin-left:30px;}

/*账户业务中心 ---消费报表管理*/
.baobiao_contain {margin-top:60px;}
.baobiao_contain .conditions.table {margin-left:62px;}
.baobiao_contain .conditions.table tr td {border:0;}
.baobiao_contain .conditions.table .form-control {display:inline-block;}
.baobiao_contain .conditions.table .width220.form-control {width:220px;}
.baobiao_contain .conditions.table .width70.form-control {width:70%;}



/*配置管理中心--标识管理样式*/
.biaozhi_list {margin:0;}
.biaozhi_list .bz_item {height:160px;color:#333; font-size:18px; text-align:center;}
.biaozhi_list .bz_item img {display:inline-block; margin-right:10%; width:140px; height:140px;}
.biaozhi_list .conForm {display:inline-block;}
.biaozhi_list .conForm .bz_name {display:block;}
.biaozhi_list .conForm .bz_shebei {display:block; margin-bottom:-15px;}
.biaozhi_list .conForm button { margin-bottom:-70px; padding:5px 18px;}
.biaozhi_list .col-md-6 { padding:0;margin-top:2%;}
@media screen and (min-width:750px) and (max-width:970px){
	.biaozhi_list .col-md-6 { margin-top:30px; padding:0; }
	}
@media only screen and (max-width:750px) {
	.biaozhi_list .col-md-6 {margin-top:30px;}
	}


.combo {
    border-color: #CCC;
}
