@charset "utf-8";
/* CSS Document */
body { font-family:"微软雅黑"; font-size:14px; color:#eff3f3;}
.container-fluid {border-right:1px solid #c8c7cc; padding:0; height:900px;background-color: #21458f;}
.list-unstyled li {height:46px; line-height:46px;}
.list-unstyled li.li_title{font-size:18px; text-align:center;border-bottom: 1px solid #042056;
	color: #bec3c3; font-weight:100;}
.list-unstyled li a {display:block; width: 198px;height:46px; line-height:46px; text-decoration:none; 
	color:#eff3f3;text-align: center;border-left: 4px solid #21458f;border-right: 4px solid #21458f;
	outline:none;blr:expression(this.onFocus=this.blur());}
.list-unstyled li a:hover,
.list-unstyled li a:active {text-decoration:none; background-color:#052e7c;color:#eff3f3;
	text-align: center;border-left: 4px solid #245cc8;border-right: 4px solid #052e7c;}
.a_active {color:#eff3f3;background:#052e7c;border-left: 4px solid #245cc8;border-right: 4px solid #052e7c;}